<!-- classics -->

<div class="max-w-[1850px] mx-auto p-3 mt-16 relative overflow-hidden">
    <h2 class="text-2xl my-8">Classics Spotlight</h2> 
    <div id="classic-kids"  class="md:overflow-hidden overflow-x-auto">
        <div class="flex gap-4 items-center cursor-pointer py-2 mb-10">
            <div class="w-full">
                <div class="min-[600px]:w-[450px] min-[600px]:h-[480px] w-[320px] h-[340x]">
                    <img src="../../images/kids/classics-spotlight/nike-kids-shoes-clothing-and-accessories-nike-com (2).jpg" alt="">
                </div>
            </div>
        
            <div class="w-full">
                <div class="min-[600px]:w-[450px] min-[600px]:h-[480px] w-[320px] h-[340x]">
                    <img src="../../images/kids/classics-spotlight/nike-kids-shoes-clothing-and-accessories-nike-com (3).jpg" alt="">
                </div>
            </div>
        
            <div class="w-full">
                <div class="min-[600px]:w-[450px] min-[600px]:h-[480px] w-[320px] h-[340x]">
                    <img src="../../images/kids/classics-spotlight/nike-kids-shoes-clothing-and-accessories-nike-com (4).jpg" alt="">  
                </div>
            </div>
        
            <div class="w-full">
                <div class="min-[600px]:w-[450px] min-[600px]:h-[480px] w-[320px] h-[340x]">
                    <img src="../../images/kids/classics-spotlight/nike-kids-shoes-clothing-and-accessories-nike-com (6).jpg" alt="">
                </div>
            </div>
        
            <div class="w-full">
                <div class="min-[600px]:w-[450px] min-[600px]:h-[480px] w-[320px] h-[340x]">
                    <img src="../../images/kids/classics-spotlight/nike-kids-shoes-clothing-and-accessories-nike-com (7).jpg" alt="">
                </div>
            </div>
        
            <div class="md:flex hidden absolute justify-between items-center w-full"> 
                <div class="pl-6"> 
                    <button id="left-kids-classic" class="bg-[#e5e5e5] w-10 h-10 rounded-full flex justify-center items-center"> 
                        <img src="../../images/home/trending/left-chevron.png" alt="" class="w-[20px] "> 
                    </button> 
                </div> 
                <div class="pr-12"> 
                    <button id="right-kids-classic" class="bg-[#e5e5e5] w-10 h-10 rounded-full flex justify-center items-center"> 
                        <img src="../../images/home/trending/chevron.png" alt="" class="w-[20px]"> 
                    </button> 
                </div> 
            </div>
        </div>
    </div>
</div>
