<div>
    <!-- card 1 -->
    <div class="w-full"> 
        <div class="w-[906px] h-[952px] relative"> 
            <img src="../../images/kids/trending/nike-kids-shoes-clothing-and-accessories-nike-com (5).jpg" alt="Member Product" class="w-full h-full  object-cover"> 
            <div class=" bottom-8 left-8 text-white"> 
                <p class="font-semibold">The Latest Air Max</p> 
                <button class="bg-white px-4 py-1.5 rounded-full text-black mt-4 font-semibold">Shop</button> 
            </div> 
        </div> 
    </div>

    <!-- card 2 -->
    <div class="w-full"> 
        <div class="w-[906px] h-[952px] relative"> 
            <img src="../../images/kids/trending/nike-kids-shoes-clothing-and-accessories-nike-com (5).jpg" alt="Member Product" class="w-full h-full  object-cover"> 
            <div class=" bottom-8 left-8 text-white"> 
                <p class="font-semibold">The Latest Air Max</p> 
                <button class="bg-white px-4 py-1.5 rounded-full text-black mt-4 font-semibold">Shop</button> 
            </div> 
        </div> 
    </div>
</div>