
<div class="max-w-[1850px] mx-auto p-3 flex gap-3 md:overflow-hidden overflow-x-scroll">
    <!-- card 1 -->
    <div class="w-full"> 
        <div class="md:w-full w-[400px] relative"> 
            <img src="../../images/kids/explore/pink-nike.jpeg" alt="Member Product" class="w-full h-full  object-cover"> 
            <div> 
                <p class="text-[19.5px] text-black/90 mt-4">Shoes $70 & Under</p> 
                <h1 class="text-black roboto underline underline-offset-4 decoration-2 text-sm py-7">Shop</h1>
            </div> 
        </div> 
    </div>

    <!-- card 2 -->
    <div class="w-full"> 
        <div class="md:w-full w-[400px] relative"> 
            <img src="../../images/kids/explore/red-nike.jpeg" alt="Member Product" class="w-full h-full  object-cover"> 
            <div> 
                <p class="text-[19.5px] text-black/90 mt-4">New from Nike Basketball</p> 
                <h1 class="text-black roboto underline underline-offset-4 decoration-2 text-sm py-7">Shop</h1>
            </div> 
        </div> 
    </div>

    <!-- card 3 -->
    <div class="w-full"> 
        <div class="md:w-full w-[400px] relative"> 
            <img src="../../images/kids/explore/small-nike.jpeg" alt="Member Product" class="w-full h-full  object-cover"> 
            <div> 
                <p class="text-[19.5px] text-black/90 mt-4">Easy On & Off Shoes</p> 
                <h1 class="text-black roboto underline underline-offset-4 decoration-2 text-sm py-7">Shop</h1>
            </div> 
        </div> 
    </div>
</div>