
<!-- Popular --> 
<div> 
    <div class="max-w-[1850px] mx-auto p-3 mt-10"> 
        <div class="flex items-center justify-between"> 
            <h2 class="text-2xl">Popular Right Now</h2> 
            <div class="flex gap-5"> 
                <button class="bg-[#e5e5e5] w-10 h-10 rounded-full flex justify-center items-center" > 
                    <img src="../../images/home/trending/left-chevron.png" alt="" class="w-[20px]"> 
                </button> 
                <button class="bg-[#e5e5e5] w-10 h-10 rounded-full flex justify-center items-center"> 
                    <img src="../../images/home/trending/left-chevron.png"alt="" class="w-[20px]"> 
                </button> 
            </div> 
        </div> 
    </div> 
</div>
<!-- Popular photos --> 
<div> 
    <div class="max-w-[1850px] mx-auto px-3 gap-3 flex overflow-x-scroll">           
        <div class="w-full"> 
            <div  class="w-[600px]"> 
                <img src="../../images/kids/popular/air-max-dn-big-kids-shoes-SjtGM9.png" alt="" class="w-full"> 
                <h2 class="mt-3 text-xl">Nike Air Max Dn</h2> 
                <h2 class="text-gray-400 mt-1">Big Kids' Shoes</h2> 
                <h2 class="mt-2 mb-14">$130</h2> 
            </div> 
        </div> 
        <div class="w-full"> 
            <div  class="w-[600px]"> 
                <img src="../../images/kids/popular/flex-runner-3-big-kids-road-running-shoes-04HmRw.png" alt="" class="w-full "> 
                <h2 class="mt-3 text-xl">Nike Flex Runner 3</h2> 
                <h2 class="text-gray-400 mt-1">Big Kids' Road Running Shoes</h2> 
                <h2 class="mt-2 mb-14">$55</h2> 
            </div> 
        </div> 
        <div class="w-full"> 
            <div  class="w-[600px]"> 
                <img src="../../images/kids/popular/flex-runner-3-little-kids-shoes-703XJt.png" alt="" class="w-full"> 
                <h2 class="mt-3 text-xl">Nike Flex Runner 3</h2> 
                <h2 class="text-gray-400 mt-1">Little Kids' Shoes</h2> 
                <h2 class="mt-2 mb-14">$50</h2> 
            </div> 
        </div> 
        <div class="w-full"> 
            <div  class="w-[600px] "> 
                <img src="../../images/kids/popular/flex-runner-3-baby-toddler-shoes-q7kDZZ.png" alt="" class="w-full"> 
                <h2 class="mt-3 text-xl">Nike Flex Runner 3</h2> 
                <h2 class="text-gray-400 mt-1">Baby/Toddler Shoes</h2> 
                <h2 class="mt-2 mb-14">$45</h2> 
            </div> 
        </div> 
        <div class="w-full"> 
            <div  class="w-[600px] "> 
                <img src="../../images/kids/popular/dunk-low-baby-toddler-shoes-JrMpLD.png" alt="" class="w-full"> 
                <h2 class="mt-3 text-xl">Nike Dunk Low</h2> 
                <h2 class="text-gray-400 mt-1">Baby/Toddler Shoes</h2> 
                <h2 class="mt-2 mb-14">$55</h2> 
            </div> 
        </div>   
        <div class="w-full"> 
            <div  class="w-[600px]"> 
                <img src="../../images//kids/popular/dunk-low-big-kids-shoes-S3lSGW.png" alt="" class="w-full"> 
                <h2 class="mt-3 text-xl">Nike Dunk Low</h2> 
                <h2 class="text-gray-400 mt-1">Big Kids' Shoes</h2> 
                <h2 class="mt-2 mb-14">$90</h2> 
            </div> 
        </div> 
        <div class="w-full"> 
            <div  class="w-[600px] "> 
                <img src="../../images/kids/popular/dunk-low-big-kids-shoes-l6Jxh2.png"  alt="" class="w-full"> 
                <h2 class="mt-3 text-xl">Nike Dunk Low</h2> 
                <h2 class="text-gray-400 mt-1">Big Kids' Shoes</h2> 
                <h2 class="mt-2 mb-14">$90</h2> 
            </div> 
        </div> 
         
        <div class="w-full"> 
            <div  class="w-[600px] "> 
                <img src="../../images/kids/popular/air-jordan-1-high-og-big-kids-shoes-kwqPnW.png" alt="" class="w-full"> 
                <h2 class="mt-3 text-xl">Air Jordan 1 High OG</h2> 
                <h2 class="text-gray-400 mt-1">Big Kids' Shoes</h2> 
                <h2 class="mt-2 mb-14">$140</h2> 
            </div> 
        </div>   
        <div class="w-full"> 
            <div  class="w-[600px]"> 
                <img src="../../images/kids/popular/dunk-low-little-kids-shoes-9T9drS.png" alt="" class="w-full"> 
                <h2 class="mt-3 text-xl">Nike Dunk Low</h2> 
                <h2 class="text-gray-400 mt-1">Little Kids' Shoes</h2> 
                <h2 class="mt-2 mb-14">$70</h2> 
            </div> 
        </div> 
        <div class="w-full"> 
            <div  class="w-[600px] "> 
                <img src="../../images/kids/popular/sb-day-one-big-kids-skate-shoes-ctp9m8.png"  alt="" class="w-full"> 
                <h2 class="mt-3 text-xl">Nike SB Day One</h2> 
                <h2 class="text-gray-400 mt-1">Big Kids' Skate Shoes</h2> 
                <h2 class="mt-2 mb-14">$80</h2> 
            </div> 
        </div>  
    </div> 
</div>