
<!-- Popular --> 
<div> 
    <div class="max-w-[1850px] mx-auto p-3 mt-10"> 
        <div class="flex items-center justify-between"> 
            <h2 class="text-2xl">Popular Right Now</h2> 
            <div class="flex gap-5"> 
                <button id="left-kid-popular" class="bg-[#e5e5e5] w-10 h-10 rounded-full flex justify-center items-center" > 
                    <img src="../../images/home/trending/left-chevron.png" alt="" class="w-[20px]"> 
                </button> 
                <button id="right-kid-popular" class="bg-[#e5e5e5] w-10 h-10 rounded-full flex justify-center items-center"> 
                    <img src="../../images/home/trending/chevron.png"alt="" class="w-[20px]"> 
                </button> 
            </div> 
        </div> 
    </div> 
</div>
<!-- Popular photos --> 
<div> 
    <div id="kid-popular" class="max-w-[1850px] mx-auto px-3 gap-3 w-full flex overflow-x-auto no-scrollbar">           
        <div class="w-full"> 
            <div  class="lg:w-[610px] md:w-[400px] w-[300px]"> 
                <img src="../../images/kids/popular/nike max air dn.jpeg" alt="" class="w-full"> 
                <h2 class="mt-3 text-xl">Nike Air Max Dn</h2> 
                <h2 class="text-gray-400 mt-1">Big Kids' Shoes</h2> 
                <h2 class="mt-2 mb-14">$130</h2> 
            </div> 
        </div> 
        <div class="w-full"> 
            <div  class="lg:w-[610px] md:w-[400px] w-[300px]"> 
                <img src="../../images/kids/popular/nike dunk low.png" alt="" class="w-full "> 
                <h2 class="mt-3 text-xl">Nike Dunk Low</h2> 
                <h2 class="text-gray-400 mt-1">Baby/Toddler Shoes</h2> 
                <h2 class="mt-2 mb-14">$55</h2> 
            </div> 
        </div> 
        <div class="w-full"> 
            <div  class="lg:w-[610px] md:w-[400px] w-[300px]"> 
                <img src="../../images/kids/popular/jordan 4 retro.png" alt="" class="w-full"> 
                <h2 class="mt-3 text-xl">Nike Jordan 4 Retro</h2> 
                <h2 class="text-gray-400 mt-1">Big Kids' Shoes</h2> 
                <h2 class="mt-2 mb-14">$160</h2> 
            </div> 
        </div> 
        <div class="w-full"> 
            <div  class="lg:w-[610px] md:w-[400px] w-[300px] "> 
                <img src="../../images/kids/popular/air jordan 4 retro.png" alt="" class="w-full"> 
                <h2 class="mt-3 text-xl">Jordan 4 Retro</h2> 
                <h2 class="text-gray-400 mt-1">Little Kids' Shoes</h2> 
                <h2 class="mt-2 mb-14">$100</h2> 
            </div> 
        </div> 
        <div class="w-full"> 
            <div  class="lg:w-[610px] md:w-[400px] w-[300px] "> 
                <img src="../../images/kids/popular/jordan 4 retro baby.png" alt="" class="w-full"> 
                <h2 class="mt-3 text-xl">Jordan 4 Retro</h2> 
                <h2 class="text-gray-400 mt-1">Baby/Toddler Shoes</h2> 
                <h2 class="mt-2 mb-14">$85</h2> 
            </div> 
        </div>   
        <div class="w-full"> 
            <div  class="lg:w-[610px] md:w-[400px] w-[300px]"> 
                <img src="../../images/kids/popular/air jordan 1 og.png" alt="" class="w-full"> 
                <h2 class="mt-3 text-xl">Air Jordan 1 High OG</h2> 
                <h2 class="text-gray-400 mt-1">Big Kids' Shoes</h2> 
                <h2 class="mt-2 mb-14">$140</h2> 
            </div> 
        </div> 
        <div class="w-full"> 
            <div  class="lg:w-[610px] md:w-[400px] w-[300px] "> 
                <img src="../../images/kids/popular/air jordan retro high og.png"  alt="" class="w-full"> 
                <h2 class="mt-3 text-xl">Jordan 1 Retro High OG</h2> 
                <h2 class="text-gray-400 mt-1">Little Kids' Shoes</h2> 
                <h2 class="mt-2 mb-14">$85</h2> 
            </div> 
        </div> 
         
        <div class="w-full"> 
            <div  class="lg:w-[610px] md:w-[400px] w-[300px] "> 
                <img src="../../images/kids/popular/jordan retro high og baby.png" alt="" class="w-full"> 
                <h2 class="mt-3 text-xl">Jordan 1 Retro High OG</h2> 
                <h2 class="text-gray-400 mt-1">Baby/Toddler Shoes</h2> 
                <h2 class="mt-2 mb-14">$70</h2> 
            </div> 
        </div>   
        <div class="w-full"> 
            <div  class="lg:w-[610px] md:w-[400px] w-[300px]"> 
                <img src="../../images/kids/popular/ja 1 day.png" alt="" class="w-full"> 
                <h2 class="mt-3 text-xl">Ja 1 "Day"</h2> 
                <h2 class="text-gray-400 mt-1">Big Kids' Basketball Shoes</h2> 
                <h2 class="mt-2 mb-14">$92</h2> 
            </div> 
        </div> 
        <div class="w-full"> 
            <div  class="lg:w-[610px] md:w-[400px] w-[300px] "> 
                <img src="../../images/kids/popular/lebron.png"  alt="" class="w-full"> 
                <h2 class="mt-3 text-xl">LeBron XXI "Optimism"</h2> 
                <h2 class="text-gray-400 mt-1">Big Kids' Basketball Shoes</h2> 
                <h2 class="mt-2 mb-14">$0</h2> 
            </div> 
        </div>  
    </div> 
</div>