<!-- poster --> 
<div> 
    <div class="max-w-[1850px] mx-auto p-3 mt-10"> 
        <div class="flex items-center mb-12"> 
            <h2 class="text-2xl">Kids</h2> 
            <ul class="flex gap-8 justify-center items-center mx-auto font-semibold text-l"> 
                <li>Shoes</li> 
                <li>Clothing</li> 
                <li>New Arrivals</li> 
                <li>Gear & Accessories</li> 
                <li>Mini Me</li> 
                <li>Sale</li> 
            </ul> 
        </div> 
        <div class="flex gap-3"> 
            <div class="w-full h-[680px] relative "> 
                <img src="../../images/men/poster/men-s-shoes-clothing-accessories.png" alt="" class="w-full h-full object-cover "> 
 
                <div class="max-w-[600px] mx-auto text-black text-center mt-10"> 
                    <h1 class="text-6xl px-10 font-extrabold mb-8">NIKE SB DAY ONE</h1> 
                    <h2 class="mb-8">Made to Skate. Designed to support you from the start,</h2> 
                    <button class="bg-black px-4 py-1.5 rounded-full text-white font-semibold">Shop</button> 
                </div>  
            </div> 
        </div> 
    </div>   
</div>