<!-- poster -->
<div class="bg-[#f5f5f5] h-[60px] flex justify-center items-center">
  <a class="roboto underline hover:no-underline" href="">Members : Free Shipping on Orders $50+</a>
</div>

<div class="w-full bg-white z-20 sticky top-0 " id="kidMenu">
  <div class="max-w-[1850px] flex md:flex-row flex-col mx-auto p-3 mt-3 overflow-hidden">
      <h2 id="letterKid" class="text-2xl duration-500">Kids</h2>
      <ul
        class="w-full flex gap-8 sm:justify-center justify-start items-center lg:mx-auto max-w-[700px] font-semibold">
        <li class="hover:text-black/70 cursor-pointer">Shoes</li>
        <li class="hover:text-black/70 cursor-pointer">Clothing</li>
        <li class="hover:text-black/70 cursor-pointer text-nowrap">New Arrivals</li>
        <li class="hover:text-black/70 cursor-pointer text-nowrap">Gear & Accessories</li>
        <li class="hover:text-black/70 cursor-pointer text-nowrap">Mini Me</li>
        <li class="hover:text-black/70 cursor-pointer">Sale</li>
      </ul>
  </div>

</div>



<section>
    <div class="max-w-[1850px] mx-auto p-3 my-5">
      <div class="">
          <img class="hidden sm:block" src="../../images/kids/poster/skate1.jpeg" alt="">
      </div>

      <!-- <div class="flex justify-center items-center relative sm:hidden">
        <img class="" src="../../images/kids/poster/videobg.jpeg" alt="">
          <video class="absolute max-w-[350px] rounded-3xl rotate-2" autoplay loop muted src="../../images/kids/poster/skate.mp4"></video>
      </div> -->
      <div class="flex w-full h-[700px] bg-gradient-to-r from-blue-300 via-purple-400 to-pink-400 p-6 justify-center items-center relative sm:hidden">
          <video class="absolute max-w-[350px] rounded-3xl rotate-2" autoplay loop muted src="../../images/kids/poster/skate.mp4">

          </video>
      </div>

      <div class="md:text-center text-left">
        <h1 class="mt-7 md:text-[71px] text-5xl  passion-bold tracking-tight">NIKE SB DAY ONE</h1>
        <p class="my-3">Made to skate. Designed to support you from the start.</p>
        <button class="bg-black px-4 py-1.5 hover:bg-black/70 rounded-full text-white mt-3 ">
          Shop
        </button>
      </div>
    </div>
</section>
