<!-- grid section size for all --> 
<div> 
    <div class="max-w-[1850px] mx-auto mt-96"> 
        <div class="grid grid-cols-2 gap-4"> 
 
            <!-- pic 1 --> 
            <div class="relative overflow-hidden grid-rows-3"> 
                <img class="w-[906px] h-[800px] object-cover" src="../../images/kids/sizes-for-all/nike-kids-shoes-clothing-and-accessories-nike-com.jpg" alt=""> 
                <div class="absolute bottom-8 left-8 text-black"> 
                    <p class="text-2xl">Big Kids</p> 
                    <h2 class="py-6">Explore apparel (XS-XL) <br>
                    and shoes (3.5-7Y).</h2> 
                    <button class="bg-black px-4 py-1.5 rounded-full text-white mt-4">Shop</button> 
                </div> 
            </div> 
            
            <!-- pic 2 -->
            <div class="relative overflow-hidden"> 
                <img class="w-[906px] h-[600px] object-cover" src="../../images/kids/sizes-for-all/nike-kids-shoes-clothing-and-accessories-nike-com (1).jpg" alt=""> 
                <div class="absolute bottom-8 left-8 text-black"> 
                    <p class="text-2xl">Babies and Toddlers</p> 
                    <h2 class="py-6">Explore apparel (0M-4T) and shoes (0C-10C).</h2> 
                    <button class="bg-black px-4 py-1.5 rounded-full text-white mt-4">Shop</button> 
                </div> 
            </div> 
 
            <!-- pic 3 --> 
            <div class="relative overflow-hidden"> 
                <img class="w-[906px] h-[600px] object-cover" src="../../images/kids/sizes-for-all//nike-kids-shoes-clothing-and-accessories-nike-com (2).jpg" alt=""> 
                <div class="absolute bottom-8 left-8 text-black"> 
                    <p class="text-2xl">Little Kids</p> 
                    <h2 class="py-6">Explore apparel (4-7) and shoes (10.5C-3Y).</h2> 
                    <button class="bg-black px-4 py-1.5 rounded-full text-white mt-4">Shop</button> 
                </div> 
            </div> 
 
            <!-- pic 4 --> 
            <div class="relative overflow-hidden"> 
                <img class="w-[906px] h-[800px] object-cover" src="../../images/kids/sizes-for-all/nike-kids-shoes-clothing-and-accessories-nike-com (3).jpg" alt=""> 
                <div class="absolute bottom-8 left-8 text-black"> 
                    <p class="text-2xl">Teen Essentials</p> 
                    <h2 class="py-6">Explore apprel (XS-XL) and shoes (3.5-7Y)</h2> 
                    <button class="bg-black px-4 py-1.5 rounded-full text-white mt-4">Shop</button> 
                </div> 
            </div> 
        </div> 
    </div> 
</div>
