<!-- categories --> 
<div class="max-w-[900px] mx-auto p-3 mt-20 min-[600px]:block hidden"> 
    <div class="flex flex-wrap gap-20 text-gray-500"> 
        
        <ul> 
            <li class="text-black/95 mb-5">Women's Shoes</li> 
            <li class="mb-3 text-black/55 cursor-pointer hover:text-black/80">All Women's Shoes</li> 
            <li class="mb-3 text-black/55 cursor-pointer hover:text-black/80">Running</li> 
            <li class="mb-3 text-black/55 cursor-pointer hover:text-black/80">Basketball</li> 
            <li class="mb-3 text-black/55 cursor-pointer hover:text-black/80">Tennis</li> 
        </ul> 
        <ul> 
            <li class="text-black/95 mb-5">Women's Clothing</li> 
            <li class="mb-3 text-black/55 cursor-pointer hover:text-black/80">All Women's Clothing</li> 
            <li class="mb-3 text-black/55 cursor-pointer hover:text-black/80">Plus Size</li> 
            <li class="mb-3 text-black/55 cursor-pointer hover:text-black/80">Sport Bras</li> 
            <li class="mb-3 text-black/55 cursor-pointer hover:text-black/80">Tops & T-Shirts</li> 
        </ul> 
        <ul> 
            <li class="text-black/95 mb-5">Women's Gear</li> 
            <li class="mb-3 text-black/55 cursor-pointer hover:text-black/80">Accessories & Equipment</li> 
            <li class="mb-3 text-black/55 cursor-pointer hover:text-black/80">Bags & Backpacks</li> 
            <li class="mb-3 text-black/55 cursor-pointer hover:text-black/80">Hats & Headbands</li> 
            <li class="mb-3 text-black/55 cursor-pointer hover:text-black/80">Gloves</li> 
        </ul> 
            
        <ul> 
            <li class="text-black/95 mb-5">Featured</li> 
            <li class="mb-3 text-black/55 cursor-pointer hover:text-black/80">Luxe Leggings</li> 
            <li class="mb-3 text-black/55 cursor-pointer hover:text-black/80">Compare Sports Bras</li> 
            <li class="mb-3 text-black/55 cursor-pointer hover:text-black/80">Indy Sports Bras</li> 
            <li class="mb-3 text-black/55 cursor-pointer hover:text-black/80">Yoga</li> 
        </ul> 
    </div> 
</div> 


<!-- small screen -->
<div class="max-w-[900px] mx-auto p-3 mt-10 cursor-pointer min-[600px]:hidden block">
    <ul class="text-black/90 text-lg">
        <li class="my-6">Featured</li>
        <li class="my-6">Shoes</li>
        <li class="my-6">Clothing</li>
        <li class="my-6">Kids</li>
    </ul>
</div>
