

<div class="max-w-[1850px] mx-auto p-3 mt-16 overflow-x-scroll"> 
    <h2 class="text-2xl my-8">Classics Spotlight</h2> 
    <div id="classicsspotlight" class="flex gap-4 items-center cursor-pointer  relative"> 
        <img src="../../images/men/classics-spotlight/men-s-shoes-clothing-accessories(4).jpg" alt="" class="xl:w-[500px] xl:h-[540px] md:w-[300px] md:h-[340px] min-[600px]:w-[400px] min-[600px]:h-[440px]"> 
        <img src="../../images/men/classics-spotlight/men-s-shoes-clothing-accessories(5).jpg" alt="" class="xl:w-[500px] xl:h-[540px] md:w-[300px] md:h-[340px] min-[600px]:w-[400px] min-[600px]:h-[440px]"> 
        <img src="../../images/men/classics-spotlight/men-s-shoes-clothing-accessories(6).jpg" alt="" class="xl:w-[500px] xl:h-[540px] md:w-[300px] md:h-[340px] min-[600px]:w-[400px] min-[600px]:h-[440px]"> 
        <img src="../../images/men/classics-spotlight/men-s-shoes-clothing-accessories(7).jpg" alt="" class="xl:w-[500px] xl:h-[540px] md:w-[300px] md:h-[340px] min-[600px]:w-[400px] min-[600px]:h-[440px]"> 
        <img src="../../images/men/classics-spotlight/men-s-shoes-clothing-accessories(8).jpg" alt="" class="xl:w-[500px] xl:h-[540px] md:w-[300px] md:h-[340px] min-[600px]:w-[400px] min-[600px]:h-[440px]"> 
        <div class="flex absolute justify-between w-full px-4"> 
            <div class=""> 
                <button id="leftButton" class="bg-[#e5e5e5] w-10 h-10 rounded-full flex justify-center items-center"> 
                    <img src="../../images/home/trending/left-chevron.png" alt="" class="w-[20px] "> 
                </button> 
            </div> 
            <div class=" "> 
                <button id="rightButton" class="bg-[#e5e5e5] w-10 h-10 rounded-full flex justify-center items-center"> 
                    <img src="../../images/home/trending/chevron.png" alt="" class="w-[20px]"> 
                </button> 
            </div> 
        </div> 
    </div>  
</div> 

