<!-- explore -->

<div>
  <div class="max-w-[1850px] mx-auto p-3 mt-10">
    <div class="md:block hidden">
      <h2 class="text-2xl mb-6 ml-3">More to Explore</h2>
      <div class="gap-3 flex">
        <!-- card 1 -->
        <div class="w-full">
          <div class="w-full">
            <img
              src="../../images/home/shop-by-sport/nike-just-do-it(14).jpg"
              alt=""
            />
            <h1 class="text-xl mt-5">New from Nike Running</h1>
            <h2 class="underline font-semibold mt-5">Shop</h2>
          </div>
        </div>
        <!-- card 2 -->
        <div class="w-full">
          <div class="w-full">
            <img
              src="../../images/home/shop-by-sport/nike-just-do-it(14).jpg"
              alt=""
            />
            <h1 class="text-xl mt-5">Killshot from Day to Night</h1>
            <h2 class="underline font-semibold mt-5">Shop</h2>
          </div>
        </div>

        <!-- card 3 -->
        <div class="w-full">
          <div class="w-full">
            <img
              src="../../images/home/shop-by-sport/nike-just-do-it(14).jpg"
              alt=""
            />
            <h1 class="text-xl mt-5">Spring Golf Essentials</h1>
            <h2 class="underline font-semibold mt-5">Shop</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="md:hidden block">

    </div>
  </div>
</div>
