<!-- explore -->

<div class="min-[600px]:block hidden">
  <div class="max-w-[1850px] mx-auto p-3 mt-10">
    <div class="">
      <h2 class="text-2xl mb-6 ml-3">More to Explore</h2>
      <div class="gap-3 flex">
        <!-- card 1 -->
        <div class="w-full">
          <div class="min-[960px]:w-full w-[590px]">
            <img
              src="../../images/women/explore/women-s-shoes-clothing-accessories (1).png"
              alt=""
            />
            <h1 class="text-xl mt-5 text-black/95">New from Nike Running</h1>
            <h2 class="underline text-black/95 mt-5">Shop</h2>
          </div>
        </div>
        <!-- card 2 -->
        <div class="w-full">
          <div class="min-[960px]:w-full w-[590px]">
            <img
              src="../../images/women/explore/women-s-shoes-clothing-accessories (7).jpg"
              alt=""
            />
            <h1 class="text-xl mt-5 text-black/95">Killshot from Day to Night</h1>
            <h2 class="underline text-black/95 mt-5">Shop</h2>
          </div>
        </div>
  
        <!-- card 3 -->
        <div class="w-full">
          <div class="min-[960px]:w-full w-[590px]">
            <img
              src="../../images/women/explore/women-s-shoes-clothing-accessories (6).jpg"
              alt=""
            />
            <h1 class="text-xl mt-5 text-black/95">Spring Golf Essentials</h1>
            <h2 class="underline text-black/95 mt-5">Shop</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="min-[600px]:hidden block w-full">
  <div class="flex justify-between items-center h-[110px] my-5 w-screen">
    <div class="shrink-0 pl-3">
      <h1 class="mt-1 text-black/70 text-sm tracking-tight">New from Nike Running</h1>
      <h2 class="text-black/95 text-[14px]">Enjoy every stride in the Nike Journey Run.</h2>
    </div>
    <div class="pt-5">
      <img class="w-[135px] p-6" src="../../images/women/explore/women-s-shoes-clothing-accessories (2)-small.png" alt="">
    </div>
  </div>
  <div class="flex justify-between h-[110px] -translate-y-2 w-screen">
    <div class="shrink-0 pt-8 pl-3">
      <h1 class="mt-1 text-black/70 text-sm tracking-tight">Killshot from Day to Night</h1>
      <h2 class="text-black/95 text-[14px] ">Get the kicks that go seamlessly from day to night. </h2>
    </div>
    <div class="p-4 pt-2">
      <img class="w-[109px] p-2 rounded-2xl" src="../../images/women/explore/women-s-shoes-clothing-accessories (9)-small.jpeg" alt="">
    </div>
  </div>
  <div class="flex justify-between h-[110px] w-screen">
    <div class="shrink-0 pt-8 pl-3">
      <h1 class="mt-1 text-black/70 text-sm tracking-tight">Spring Golf Essentials</h1>
      <h2 class="text-black/95 text-[14px]">Everything you'll need for any course.</h2>
    </div>
    <div class="p-5 pt-4">
      <img class="w-[110px] p-2 rounded-2xl pl-3" src="../../images/women/explore/women-s-shoes-clothing-accessories (8)-small.jpeg" alt="">
    </div>
  </div>
</div>

