<!-- membership --> 
<div> 
    <div class="max-w-[1850px] mx-auto p-3 mt-10"> 
        <div class="flex items-center justify-between"> 
            <h2 class="text-2xl">Member Benefits</h2> 
            <div class="flex gap-5"> 
                <button class="bg-[#e5e5e5] w-10 h-10 rounded-full flex justify-center items-center" > 
                    <img src="../../images/home/trending/left-chevron.png" alt="" class="w-[20px]"> 
                </button> 
                <button class="bg-[#e5e5e5] w-10 h-10 rounded-full flex justify-center items-center"> 
                    <img src="../../images/home/trending/chevron.png" alt="" class="w-[20px]"> 
                </button> 
            </div> 
        </div> 
    </div> 
</div>

<!-- membership photos --> 
<div> 
    <div class="max-w-[1850px] mx-auto p-3 mt-10 flex gap-3 overflow-x-scroll"> 
        <!-- CARD 1 --> 
        <div class="w-full"> 
            <div class="w-[470px] h-[590px] relative"> 
                <img src="../../images/home/membership/nike-just-do-it(19).jpg" alt="Member Product" class="w-full h-full  object-cover"> 
                <div class="absolute bottom-8 left-8 text-white"> 
                    <p class="font-semibold">Member Product</p> 
                    <h2 class="text-2xl mb-5 font-semibold">Your Exclusive Access</h2> 
                    <button class="bg-white px-4 py-1.5 rounded-full text-black mt-4 font-semibold">Shop</button> 
                </div> 
            </div> 
        </div> 
 
        <!-- CARD 2 --> 
        <div class="w-full"> 
            <div class="w-[470px] h-[590px] relative"> 
                <img src="../../images/home/membership/nike-just-do-it(20).jpg" alt="Member Rewards" class="w-full h-full  object-cover"> 
                <div class="absolute bottom-8 left-8 text-white"> 
                    <p class="font-semibold">Member Rewards</p> 
                    <h2 class="text-2xl mb-5 font-semibold">How We Say Thank You</h2> 
                    <button class="bg-white px-4 py-1.5 rounded-full font-semibold text-black mt-4">Celebrate</button> 
                </div> 
            </div> 
        </div> 
 
            <!-- CARD 3 --> 
            <div class="w-full"> 
            <div class="w-[470px] h-[590px] relative"> 
                <img src="../../images/home/membership/nike-just-do-it(21).jpg" alt="Sports & Wellness Apps" class="w-full h-full  object-cover"> 
                <div class="absolute bottom-8 left-8 text-white"> 
                    <p class="font-semibold">Sports & Wellness Apps</p> 
                    <h2 class="text-2xl mb-5 font-semibold">Movement Where You're At</h2> 
                    <button class="bg-white px-4 py-1.5 rounded-full font-semibold text-black mt-4">Move</button> 
                </div> 
            </div> 
        </div> 
 
            <!-- CARD 4 --> 
            <div class="w-full"> 
            <div class="w-[470px] h-[590px] relative"> 
                <img src="../../images/home/membership/nike-just-do-it(22).jpg" alt="Nike By You" class="w-full h-full  object-cover"> 
                <div class="absolute bottom-8 left-8 text-white"> 
                    <p class="font-semibold">Nike By You</p> 
                    <h2 class="text-2xl mb-5 font-semibold">Your Customization Service</h2> 
                    <button class="bg-white px-4 py-1.5 rounded-full font-semibold text-black mt-4">Customize</button> 
                </div> 
            </div> 
        </div> 
 
 
            <!-- CARD 5 --> 
            <div class="w-full"> 
            <div class="w-[470px] h-[590px] relative"> 
                <img src="../../images/home/membership/nike-just-do-it(23).jpg" alt="SNKRS" class="w-full h-full  object-cover"> 
                <div class="absolute bottom-8 left-8 text-white"> 
                    <p class="font-semibold">SNKRS</p> 
                    <h2 class="text-2xl mb-5 font-semibold">Your Ultimate <br> 
                    Sneaker Community</h2> 
                    <button class="bg-white px-4 py-1.5 rounded-full font-semibold text-black mt-4">Explore</button> 
                </div> 
            </div> 
        </div> 
 
            <!-- CARD 6 --> 
            <div class="w-full"> 
            <div class="w-[470px] h-[590px] relative"> 
                <img src="../../images/home/membership/nike-just-do-it(24).jpg" alt="Member Interests" class="w-full h-full  object-cover"> 
                <div class="absolute bottom-8 left-8 text-white"> 
                    <p class="font-semibold">Member Interests</p> 
                    <h2 class="text-2xl mb-5 font-semibold">Shop Your Way</h2> 
                    <button class="bg-white px-4 py-1.5 rounded-full font-semibold text-black mt-4">Add Interests</button> 
                </div> 
            </div> 
        </div> 
    </div>
</div>
