<!-- Popular --> 
<div> 
    <div class="max-w-[1850px] mx-auto p-3 mt-10"> 
        <div class="flex items-center justify-between"> 
            <h2 class="text-2xl">Popular Right Now</h2> 
            <div class="flex gap-5"> 
                <button class="bg-[#e5e5e5] w-10 h-10 rounded-full flex justify-center items-center" > 
                    <img src="../../images/home/trending/left-chevron.png" alt="" class="w-[20px]"> 
                </button> 
                <button class="bg-[#e5e5e5] w-10 h-10 rounded-full flex justify-center items-center"> 
                    <img src="../../images/home/trending/left-chevron.png"alt="" class="w-[20px]"> 
                </button> 
            </div> 
        </div> 
    </div> 
</div> 
 
<!-- Popular photos --> 
<div> 
    <div class="max-w-[1850px] mx-auto px-3 gap-3 flex overflow-x-scroll">           
        <div class="w-full"> 
            <div  class="md:w-[600px] w-[300px] bg-slate-600"> 
                <img src="../../images/home/popular/air-jordan-4-retro-womens-shoes-s1LPnh.png" alt="" class="w-full"> 
                <h2 class="mt-3 text-xl">Air Jordan 4 Retro</h2> 
                <h2 class="text-gray-400 mt-1">Women's Shoes</h2> 
                <h2 class="mt-2 mb-14">$210</h2> 
            </div> 
        </div> 
        <div class="w-full"> 
            <div  class="md:w-[600px] w-[300px]"> 
                <img src="../../images/home/popular/air-max-1-mens-shoes-Z12HrC.png" alt="" class="w-full "> 
                <h2 class="mt-3 text-xl">Nike Air Max 1</h2> 
                <h2 class="text-gray-400 mt-1">Men's Shoes</h2> 
                <h2 class="mt-2 mb-14">$160</h2> 
            </div> 
        </div> 
        <div class="w-full"> 
            <div  class="md:w-[600px] w-[300px]"> 
                <img src="../../images/home/popular/gt-cut-3-basketball-shoes-GLHCGc.png" alt="" class="w-full"> 
                <h2 class="mt-3 text-xl">Nike G.T. Cut 3</h2> 
                <h2 class="text-gray-400 mt-1">Basketball Shoes</h2> 
                <h2 class="mt-2 mb-14">$190</h2> 
            </div> 
        </div> 
        <div class="w-full"> 
            <div  class="md:w-[600px] w-[300px] "> 
                <img src="../../images/home/popular/ja-1-vacation-basketball-shoes-bCx2W3.png" alt="" class="w-full"> 
                <h2 class="mt-3 text-xl">Ja 1 "Vacation</h2> 
                <h2 class="text-gray-400 mt-1">Basketball Shoes</h2> 
                <h2 class="mt-2 mb-14">$120</h2> 
            </div> 
        </div> 
        <div class="w-full"> 
            <div  class="md:w-[600px] w-[300px] "> 
                <img src="../../images/home/popular/sabrina-1-exclamaton-basketball-shoes-f8jr2H.png" alt="" class="w-full"> 
                <h2 class="mt-3 text-xl">Sabrina 1 "Excalmation</h2> 
                <h2 class="text-gray-400 mt-1">Basketball Shoes</h2> 
                <h2 class="mt-2 mb-14">$130</h2> 
            </div> 
        </div>   
        <div class="w-full"> 
            <div  class="md:w-[600px] w-[300px]"> 
                <img src="../../images/home/popular/zoom-vomero-5-mens-shoes-MgsTqZ.png" alt="" class="w-full"> 
                <h2 class="mt-3 text-xl">Nike Xoom Vomero 5</h2> 
                <h2 class="text-gray-400 mt-1">Men's Shoes</h2> 
                <h2 class="mt-2 mb-14">$160</h2> 
            </div> 
        </div> 
        <div class="w-full"> 
            <div  class="md:w-[600px] w-[300px] "> 
                <img src="../../images/home/popular/zoom-vomero-5-womens-shoes-81TPKW.png"  alt="" class="w-full"> 
                <h2 class="mt-3 text-xl">Nike Zoom Vomero 5</h2> 
                <h2 class="text-gray-400 mt-1">Women's Shoes</h2> 
                <h2 class="mt-2 mb-14">$160</h2> 
            </div> 
        </div> 
         
        <div class="w-full"> 
            <div  class="md:w-[600px] w-[300px] "> 
                <img src="../../images/home/popular/sabrina-1-exclamaton-basketball-shoes-f8jr2H.png" alt="" class="w-full"> 
                <h2 class="mt-3 text-xl">Sabrina 1 "Excalmation</h2> 
                <h2 class="text-gray-400 mt-1">Basketball Shoes</h2> 
                <h2 class="mt-2 mb-14">$130</h2>
</div> 
        </div>   
        <div class="w-full"> 
            <div  class="md:w-[600px] w-[300px]"> 
                <img src="../../images/home/popular/zoom-vomero-5-mens-shoes-MgsTqZ.png" alt="" class="w-full"> 
                <h2 class="mt-3 text-xl">Nike Xoom Vomero 5</h2> 
                <h2 class="text-gray-400 mt-1">Men's Shoes</h2> 
                <h2 class="mt-2 mb-14">$160</h2> 
            </div> 
        </div> 
        <div class="w-full"> 
            <div  class="md:w-[600px] w-[300px] "> 
                <img src="../../images/home/popular/zoom-vomero-5-womens-shoes-81TPKW.png"  alt="" class="w-full"> 
                <h2 class="mt-3 text-xl">Nike Zoom Vomero 5</h2> 
                <h2 class="text-gray-400 mt-1">Women's Shoes</h2> 
                <h2 class="mt-2 mb-14">$160</h2> 
            </div> 
        </div>  
    </div> 
</div>