<div> 
    <div class="max-w-[1850px] mx-auto p-3 mt-10"> 
        <div class="flex items-center mb-12"> 
            <h2 class="text-2xl">Women</h2> 
            <ul class="flex gap-8 justify-center items-center mx-auto font-semibold text-l"> 
                <li>Shoes</li> 
                <li>Clothing</li> 
                <li>Sale</li> 
                <li>Find Your Sports Bra</li> 
                <li>Leggings</li> 
                <li>Shoes $100 & Under</li> 
            </ul> 
        </div> 
        <div class="flex gap-3"> 
            <div class="w-full h-[680px]"> 
                <img src="../../images/women/poster/women-s-shoes-clothing-accessories.jpeg" alt="" class="w-[1425px] h-[954px]">    
            </div> 
        </div>    
    </div>   
</div> 
 
 
<div> 
    <div class="max-w-[1850px] mx-auto p-3 mt-10> 
        <div class="max-w-[600px] mx-auto text-black text-center mt-10"> 
            <p class="font-semibold">Step into the Unreal</p> 
            <h1 class="text-6xl px-10 font-extrabold mb-8">AIR MAX DN</h1> 
            <h2 class="mb-8">The Dynamic Style of Sha'Carri Richardson</h2> 
            <button class="bg-black px-4 py-1.5 rounded-full text-white font-semibold">Shop</button> 
        </div>   
    </div> 
</div>