<div class="bg-[#f5f5f5] h-[60px] flex flex-col justify-center items-center">

    <a class="roboto tracking-wide" href="">Shop All New Arrivals</a>
    <a class="text-black roboto underline hover:no-underline text-sm" href="">Shop</a>


</div>

<div id="womenMenu" class="w-full bg-white z-10 p-2 mt-5 sticky top-0"> 
    <div class="max-w-[1850px] flex md:flex-row flex-col mx-auto p-3 mt-3 overflow-hidden"> 
        <h2 id="letterWomen" class="text-2xl duration-300">Women</h2> 
        <ul class="w-full flex gap-8 sm:justify-center justify-start items-center py-2 lg:mx-auto max-w-[700px] font-semibold"> 
            <li class="hover:text-black/70 cursor-pointer">Shoes</li> 
            <li class="hover:text-black/70 cursor-pointer">Clothing</li> 
            <li class="hover:text-black/70 cursor-pointer">Sale</li> 
            <li class="hover:text-black/70 cursor-pointer text-nowrap">Find Your Sports Bra</li> 
            <li class="hover:text-black/70 cursor-pointer">Leggings</li> 
            <li class="hover:text-black/70 cursor-pointer text-nowrap">Shoes $100 & Under</li> 
        </ul> 
    </div>
</div> 


<!-- <div class="max-w-[1850px] mx-auto p-3 mt-4">
    <div class=""> 
        <div class="w-full "> 
            <img src="../../images/women/poster/orange-hair.png" alt="" class="w-full lg:block hidden">  
            <img src="../../images/women/poster/small-orange.png" alt="" class="w-full lg:hidden block">  
        </div> 
    </div>    
</div>    -->

 
<div> 
    <div class="max-w-[1850px] mx-auto p-2 mt-2"> 
        <div class="max-w-[600px] mx-auto text-black md:text-center text-left mt-2"> 
            <p class="font-semibold mb-2">Step into the Unreal</p> 
            <h1 class="md:text-8xl text-6xl passion-bold tracking-tight mb-5">AIR MAX DN</h1> 
            <h2 class="mb-8">The Dynamic Style of Sha'Carri Richardson</h2> 
            <button class="bg-black px-4 py-1.5 rounded-full text-white font-semibold mb-5">Shop</button> 
        </div>   
    </div> 
</div>