<!-- trending --> 
<div> 
    <div class="max-w-[1850px] mx-auto p-3 mt-10"> 
        <h2 class="text-2xl mb-8">Trending</h2> 
        <div class="flex gap-3 md:flex-row flex-col"> 
            <!-- CARD 1 --> 
            <div class="w-full h-[530px] relative "> 
                <img src="../../images/home/featured/exercise.jpeg" alt="Nike Alphafly 3" class="w-full h-full object-cover "> 
                <div class="absolute bottom-8 left-8 text-white"> 
                    <p class="text-2xl mb-5 font-semibold">What Limit?</p> 
                    <h1 class="font-semibold">Serena Williams Design Crew Collection</h1> 
                    <button class="bg-white px-4 py-1.5 font-semibold rounded-full text-black mt-4">Shop</button> 
                </div> 
            </div> 
 
             <!-- CARD 2 --> 
            <div class="w-full h-[530px] relative"> 
                <img src="../../images/home/featured/yellow-shoes1.jpeg" alt="Jordan New Arrivals" class="w-full h-full object-cover"> 
                <div class="absolute bottom-8 left-8 text-white"> 
                    <p class="text-2xl mb-5 font-semibold">Expression in Motion</p> 
                    <h1 class="font-semibold">Refreshing Adventure Collection</h1> 
                    <button class="rounded-full text-black font-semibold bg-white px-4 py-1.5 mt-4">Shop</button> 
                </div> 
            </div> 
        </div> 
    </div>   
</div>