<!-- trending --> 
<div> 
    <div class="max-w-[1850px] mx-auto p-3 mt-20"> 
        <h2 class="text-2xl mb-8">Trending</h2> 
        <div class="flex gap-3 md:flex-row flex-col"> 
            <!-- CARD 1 --> 
            <div class="w-full relative "> 
                <img src="../../images/women/trending//women-s-shoes-clothing-accessories (5).jpg" alt="Nike Alphafly 3" class="w-full h-full object-cover "> 
                <div class="absolute bottom-8 left-8 text-white"> 
                    <p class="text-2xl mb-5 font-semibold">What Limit?</p> 
                    <h1 class="font-semibold">Serena Williams Design Crew Collection</h1> 
                    <button class="bg-white px-4 py-1.5 font-light rounded-full hover:bg-gray-200 text-black mt-4">Shop</button> 
                </div> 
            </div> 
 
             <!-- CARD 2 --> 
            <div class="w-full relative"> 
                <img src="../../images/women/trending/women-s-shoes-clothing-accessories.png" alt="Jordan New Arrivals" class="w-full h-full object-cover"> 
                <div class="absolute bottom-8 left-8 text-white"> 
                    <p class="text-2xl mb-5 font-semibold">Expression in Motion</p> 
                    <h1 class="font-semibold">Refreshing Adventure Collection</h1> 
                    <button class="rounded-full hover:bg-gray-200 text-black font-light bg-white px-4 py-1.5 mt-4">Shop</button> 
                </div> 
            </div> 
        </div> 
    </div>   
</div>