<div class="flex ">
    <aside class="w-[20%] bg-yellow-200  ">
       <div class="h-screen">
        <div>
            <h2>Pick up today</h2>
            <div class="toggle-switch">
                <input class="toggle-input" id="toggle" type="checkbox">
                <label class="toggle-label" for="toggle"></label>
              </div>
           </div>
    
           <hr>
    
          <div class="flex flex-col gap-4 overflow-y-scroll h-full">
            <a href="">Lorem, ipsum dolor.</a>
            <a href="">Lorem, ipsum dolor.</a>
            <a href="">Lorem, ipsum dolor.</a>
            <a href="">Lorem, ipsum dolor.</a>
            <a href="">Lorem, ipsum dolor.</a>
            <a href="">Lorem, ipsum dolor.</a>
            <a href="">Lorem, ipsum dolor.</a>
            <a href="">Lorem, ipsum dolor.</a>
            <a href="">Lorem, ipsum dolor.</a>
            <a href="">Lorem, ipsum dolor.</a>
            <a href="">Lorem, ipsum dolor.</a>
            <a href="">Lorem, ipsum dolor.</a>
            <a href="">Lorem, ipsum dolor.</a>
          </div>

          
       </div>
    </aside>

    <div class="w-full h-screen grid grid-cols-3 gap-4">
        <div class="w-full h-auto border-2 border-black">
            <div class="h-[300px]">
                <img class="w-full h-full object-cover" src="../../images/home/featured/running.jpeg" alt="">
            </div>
            <div class="py-4">
                <p class="text-red-900">Sustainable Materials</p>
                <p class="text-lg">Nike Dri-FIT ADV Fly</p>
                <p class="opacity-50">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum, rerum.</p>
                <p class="opacity-50 ">3 Colors</p>
                <p class="mt-10">$45</p>

            </div>
        </div>

        <div class="w-full h-auto border-2 border-black">
            <div class="h-[300px]">
                <img class="w-full h-full object-cover" src="../../images/home/featured/running.jpeg" alt="">
            </div>
            <div class="py-4">
                <p class="text-red-900">Sustainable Materials</p>
                <p class="text-lg">Nike Dri-FIT ADV Fly</p>
                <p class="opacity-50">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum, rerum.</p>
                <p class="opacity-50 ">3 Colors</p>
                <p class="mt-10">$45</p>

            </div>
        </div>


        <div class="w-full h-auto border-2 border-black">
            <div class="h-[300px]">
                <img class="w-full h-full object-cover" src="../../images/home/featured/running.jpeg" alt="">
            </div>
            <div class="py-4">
                <p class="text-red-900">Sustainable Materials</p>
                <p class="text-lg">Nike Dri-FIT ADV Fly</p>
                <p class="opacity-50">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum, rerum.</p>
                <p class="opacity-50 ">3 Colors</p>
                <p class="mt-10">$45</p>

            </div>
        </div>

        <div class="w-full h-auto border-2 border-black">
            <div class="h-[300px]">
                <img class="w-full h-full object-cover" src="../../images/home/featured/running.jpeg" alt="">
            </div>
            <div class="py-4">
                <p class="text-red-900">Sustainable Materials</p>
                <p class="text-lg">Nike Dri-FIT ADV Fly</p>
                <p class="opacity-50">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum, rerum.</p>
                <p class="opacity-50 ">3 Colors</p>
                <p class="mt-10">$45</p>

            </div>
        </div>

        <div class="w-full h-auto border-2 border-black">
            <div class="h-[300px]">
                <img class="w-full h-full object-cover" src="../../images/home/featured/running.jpeg" alt="">
            </div>
            <div class="py-4">
                <p class="text-red-900">Sustainable Materials</p>
                <p class="text-lg">Nike Dri-FIT ADV Fly</p>
                <p class="opacity-50">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum, rerum.</p>
                <p class="opacity-50 ">3 Colors</p>
                <p class="mt-10">$45</p>

            </div>
        </div>

        <div class="w-full h-auto border-2 border-black">
            <div class="h-[300px]">
                <img class="w-full h-full object-cover" src="../../images/home/featured/running.jpeg" alt="">
            </div>
            <div class="py-4">
                <p class="text-red-900">Sustainable Materials</p>
                <p class="text-lg">Nike Dri-FIT ADV Fly</p>
                <p class="opacity-50">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum, rerum.</p>
                <p class="opacity-50 ">3 Colors</p>
                <p class="mt-10">$45</p>

            </div>
        </div>

        <div class="w-full h-auto border-2 border-black">
            <div class="h-[300px]">
                <img class="w-full h-full object-cover" src="../../images/home/featured/running.jpeg" alt="">
            </div>
            <div class="py-4">
                <p class="text-red-900">Sustainable Materials</p>
                <p class="text-lg">Nike Dri-FIT ADV Fly</p>
                <p class="opacity-50">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum, rerum.</p>
                <p class="opacity-50 ">3 Colors</p>
                <p class="mt-10">$45</p>

            </div>
        </div>

        <div class="w-full h-auto border-2 border-black">
            <div class="h-[300px]">
                <img class="w-full h-full object-cover" src="../../images/home/featured/running.jpeg" alt="">
            </div>
            <div class="py-4">
                <p class="text-red-900">Sustainable Materials</p>
                <p class="text-lg">Nike Dri-FIT ADV Fly</p>
                <p class="opacity-50">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum, rerum.</p>
                <p class="opacity-50 ">3 Colors</p>
                <p class="mt-10">$45</p>

            </div>
        </div>


        <div class="w-full h-auto border-2 border-black">
            <div class="h-[300px]">
                <img class="w-full h-full object-cover" src="../../images/home/featured/running.jpeg" alt="">
            </div>
            <div class="py-4">
                <p class="text-red-900">Sustainable Materials</p>
                <p class="text-lg">Nike Dri-FIT ADV Fly</p>
                <p class="opacity-50">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum, rerum.</p>
                <p class="opacity-50 ">3 Colors</p>
                <p class="mt-10">$45</p>

            </div>
        </div>

        
    </div>
</div>