    <!-- Footer -->
    <footer class="bg-black mt-20 text-[#ccc]">
        <div class="max-w-[1400px] mx-auto py-10">
            <div class=" flex justify-between text-[#ccc]">
                <ul>
                    <li class="mb-3">RESOURCES</li>
                    <li class="mb-3">GIFT CARDS</li>
                    <li class="mb-3">FIND A STORE</li>
                    <li class="mb-3">BECOME A MEMBER</li>
                    <li class="mb-3">NIE X NBA</li>
                    <li class="mb-3">NIKE JOURNAL</li>
                    <li class="mb-3">Site Feedback</li>

                </ul>
                <ul>
                    <li class="mb-3"><a href="">HELP</a></li>
                    <li class="text-[#7e7e7e] mb-5 text-sm">Get Help</li>
                    <li class="text-[#7e7e7e] mb-5 text-sm">Order Status</li>
                    <li class="text-[#7e7e7e] mb-5text-sm">Shipping and Delivery</li>
                    <li class="text-[#7e7e7e] mb-5 text-sm">Returns</li>
                    <li class="text-[#7e7e7e] mb-5 text-sm">Order Collection</li>
                    <li class="text-[#7e7e7e] mb-5 text-sm">Payment Options</li>
                    <li class="text-[#7e7e7e] mb-5 text-sm">Gidt Card Balance</li>
                </ul>

                <ul>
                    <li class="mb-3"><a href="">COMPANY</a></li>
                    <li class="text-[#7e7e7e] mb-5 text-sm">About Nike</li>
                    <li class="text-[#7e7e7e] mb-5 text-sm">News</li>
                    <li class="text-[#7e7e7e] mb-5 text-sm">Careers</li>
                    <li class="text-[#7e7e7e] mb-5 text-sm">Investors</li>
                    <li class="text-[#7e7e7e] mb-5 text-sm">Purpose</li>
                    <li class="text-[#7e7e7e] mb-5 text-sm">Substainability</li>
                </ul>

                <ul>
                    <li class="mb=3"><a href="">PROMOTIONS & DISCOUNTS</a></li>
                    <li class="text-[#7e7e7e] mb-5 text-sm">Student</li>
                    <li class="text-[#7e7e7e] mb-5 text-sm">Military</li>
                    <li class="text-[#7e7e7e] mb-5 text-sm">Teacher</li>
                    <li class="text-[#7e7e7e] mb-5 text-sm">First Responders & Medical Professionals</li>
                    <li class="text-[#7e7e7e] mb-5 text-sm">Birthday</li>
                </ul>

                <div class="flex gap-4">
                    <button class="p-1 rounded-full w-10 h-10 bg-[#7e7e7e] hover:bg-white">
                        <a href=""><img src="../../images/home/footer/social.png" alt=""></a>
                    </button>
                   
                    <button class="p-1 rounded-full w-10 h-10 bg-[#7e7e7e] hover:bg-white">
                        <a href=""><img src="../../images/home/footer/facebook.png" alt=""></a>
                    </button>

                    <button class="p-1 rounded-full w-10 h-10 bg-[#7e7e7e] hover:bg-white">
                        <a href=""><img src="../../images/home/footer/social (1).png" alt=""></a>
                    </button>

                    <button class="p-1 rounded-full w-10 h-10 bg-[#7e7e7e] hover:bg-white">
                        <a href=""><img src="../../images/home/footer/instagram.png" alt=""></a>
                    </button>
                </div>

            </div>
        </div>

        <div class="max-w-[1400px] mx-auto flex justify-end">
            <ul class="flex gap-7">
                <li class="text-[#7e7e7e] text-sm"> <a href="#">Guides</a></li>
                <li class="text-[#7e7e7e] text-sm"> <a href="#">Terms of Sale</a></li>
                <li class="text-[#7e7e7e] text-sm"> <a href="#">Terms of Use</a></li>
                <li class="text-[#7e7e7e] text-sm"> <a href="#">Nike Privacy Policy</a></li>
                <li class="text-[#7e7e7e] text-sm"> <a href="#">Your Privacy Choices</a></li>
            </ul>
        </div>

        
        <div class="max-w-[1400px] mx-auto py-10 flex justify-between">

           <div class="flex gap-10">
                <a href="">
                    <img src="" alt="">
                    United State
                </a>
                <p class="text-[#7e7e7e] text-sm">© 2024 Nike, Inc. All Rights Reserved</p>
           </div>

           <a href="" class="text-[#7e7e7e] text-sm">CA Supply Chains Act</a>
        </div>
    </footer>