<!-- header --> 
<div class="bg-gray-200 max-[960px]:hidden"> 
    <div class="max-w-[1850px] mx-auto p-3"> 
        <div class="flex justify-between"> 
            <div class="flex items-center"> 
                 
                <a href="#"> 
                    <img src="../../images/home/header/jordan.png" alt="Jordan's Logo" class="w-[30px] hover:opacity-50"> 
                </a> 
 
                <a href="#"> 
                    <img src="../../images/home/header/converse.png" alt="Converse's Logo" class="w-[30px]  hover:opacity-50"> 
                </a> 
                 
            </div> 
 
            <div class="divide-x divide-black font-semibold  font-sans text-sm"> 
               <a href="#" class="px-2 hover:text-gray-500">Find a Store</a> 
               <a href="#" class="px-2 hover:text-gray-500">Help</a> 
               <a href="#" class="px-2 hover:text-gray-500">Join Us</a> 
               <a href="#" class="px-2 hover:text-gray-500">Sign In</a> 
            </div> 
        </div> 
    </div> 
</div> 
 
 
        <!-- NAVBAR --> 
<nav class="overflow-hidden"> 
    <div class="max-w-[1850px] mx-auto text-black flex items-center justify-between"> 
        <a href="home.html"> 
            <img src="../../images/home/nav-bar/nike2.png" alt="" class="w-[70px]"> 
        </a> 
 
        <ul class="md:flex items-center gap-4 hidden ml-[200px] font-semibold tracking-wide"> 
            <li class="cursor-pointer py-6" id="newfeatured-hover">New & Featured</li> 
            <li class="cursor-pointer py-6 max-[960px]:block hidden" id="men-hover" >Men</li> 
            <li class="cursor-pointer py-6 min-[972px]:block hidden" id="women-hover" >Women</li> 
            <li class="cursor-pointer py-6 min-[1032px]:block hidden" id="kids-hover">Kids</li> 
            <li class="cursor-pointer py-6 min-[1090px]:block hidden" id="accessories-hover" >Accessories</li> 
            <li class="cursor-pointer py-6 min-[1155px]:block hidden" id="sale-hover ">Sale</li> 
        </ul> 
 
        <div class="relative flex items-center gap-8"> 
            <input type="text" class="border border-[#f5f5f5] rounded-full p-1.5 pl-10 bg-[#f5f5f5] block max-[960px]:hidden" placeholder="Search">  
            <img src="../../images/home/nav-bar/glass.png" alt="" class="absolute w-[22px] left-[10px] opacity-90 block max-[960px]:hidden"> 
            <img src="../../images/home/nav-bar/glass.png" alt="" class="absolute w-[24px] right-[125px] opacity-90 top-0 hidden max-[960px]:block"> 
            <div class="flex gap-5"> 
                <img src="../../images/home/nav-bar/heart.png" alt="" class="w-[20px] max-[960px]:hidden"> 
                <img src="../../images/home/nav-bar/market.png" alt="" class="w-[21px]"> 
                <img src="../../images/home/nav-bar/user.png" alt="" class="w-[20px]  h-[20px] hidden  max-[960px]:block">
                <img src="../../images/home/nav-bar/hamburger (1).png" alt="" class="w-[20px]  hidden  max-[960px]:block" id="hamburger-btn"> 
            </div> 
        </div> 
    </div> 
 
    <!-- DROP DOWN --> 
    <div id="newfeatured-dropdown" class="bg-white fixed z-50 left-0 text-black duration-300  
        h-[0px] w-full opacity-100 "> 
        <div class="flex justify-center max-w-full mx-auto duration-300 "> 
           <div class="flex gap-20">
                <ul class="hidden items-start" id="nav-list"> 
                    <li class="font-semibold mb-2 text-base ">Jordan Family Days</li> 
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Shop the collection</li> 
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Shop All Jordan</li> 
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">New Releases</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Men</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Women</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Kids</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Basketball</li>
                </ul> 

                <ul class="hidden " id="nav-list"> 
                    <li class="font-semibold mb-2 text-base">New & Featured</li> 
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">New Arrivals</li> 
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Best Sellers</li> 
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Member Product</li> 
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">New & Upcoming Drops</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">SNKRS Launch Calendar</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Mother's Day Shop</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Add to bag to See Price</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Sales: Up tp 50% off</li>
                </ul> 

                <ul class="hidden " id="nav-list"> 
                    <li class="font-semibold mb-2 text-base">Shop Classics</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Air Force</li> 
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Dunk</li> 
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Air Max</li> 
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Blazer</li>           
                </ul> 

                <ul class="hidden " id="nav-list">
                    <li class="font-semibold mb-2 text-base">New For Men</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Shoes</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Clothing</li>
                    <li class="mb-2 font-semibold">New For Women</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Shoes</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Clothing</li>
                    <li class="mb-2 font-semibold">New For Kids</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Shoes</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Clothing</li>
                </ul>
           </div>

        </div> 
    </div> 
 <!-- men dropdown -->
    <div id="men-dropdown" class="bg-white fixed left-0 text-black duration-300  
    h-[0px] w-full opacity-100 "> 
        <div class="flex justify-center max-w-full z-50 mx-auto duration-300 "> 
            <div class="flex gap-20">
                <ul class="hidden" id="men-list">
                    <li class="font-semibold mb-2 text-base ">Jordan Family Days</li> 
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Shop the collection</li> 
                </ul> 
                <ul class="hidden" id="men-list">
                    <li class="font-semibold mb-2 text-base">New & Featured</li> 
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">New Arrivals</li> 
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Best Sellers</li> 
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Customize with Nike by You</li> 
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Trending: Nike Life</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">New in Basketball</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Add to Bag to See Price</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Sales: Up to 50% off</li>
                </ul>
                <ul class="hidden" id="men-list">
                    <li class="font-semibold mb-2 text-base ">All Shoes</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Lifestyle</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Jordan</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Dunk</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Lifestyle Running</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Air Max</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Air Force 1</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Training & Gym</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Basketball</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Running</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Nike SB</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Sandals & Slides</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Nike By You</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Shoes $100 & Under</li>
                </ul>
                <ul class="hidden" id="men-list">
                    <li class="mb-2 font-semibold">All Clothing</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Jordan</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Matching Sets</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Big & Tall</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Hoodies & Sweatshirts</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Pants & Tights</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Jackets & Vests</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Tops & T-Shirts</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Shorts</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Underwear</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Socks</li>
                </ul>
                <ul class="hidden" id="men-list">
                    <li class="font-semibold mb-2 text-base ">Shop by Sport</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Basketball</li>  
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Soccer</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Running</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Tennis</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Baseball</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Football</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Training & Gym</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Trail Running</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Swimming</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Pickleball</li>
                </ul>

            </div>
        </div> 
    </div> 
 
    <div id="women-dropdown" class="bg-white fixed left-0 text-black duration-300  
    h-[0px] w-full opacity-100 "> 
        <div class="flex justify-center max-w-full z-50 mx-auto duration-300 "> 
            <div class="flex gap-20">
                <ul class="hidden" id="women-list">
                    <li class="font-semibold mb-2 text-base ">Jordan Family Days</li> 
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Shop the collection</li> 
                </ul> 
                <ul class="hidden" id="women-list">
                    <li class="font-semibold mb-2 text-base ">New & Featured</li> 
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">New Arrivals</li> 
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Best Sellers</li> 
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Customize with Nike by You</li> 
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Trending: Nike Life</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">New in Basketball</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Add to Bag to See Price</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Sales: Up to 50% off</li>
                </ul>
                <ul class="hidden" id="women-list">
                    <li class="font-semibold mb-2 text-base ">All Shoes</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Lifestyle</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Jordan</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Dunk</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Lifestyle Running</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Air Max</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Air Force 1</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Training & Gym</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Basketball</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Running</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Nike SB</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Sandals & Slides</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Shoes $100 & Under</li>
                </ul>
                <ul class="hidden" id="women-list">
                    <li class="font-semibold mb-2 text-base ">All Clothing</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Jordan</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Matching Sets</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Plus Size</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Hoodies & Sweatshirts</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Pants</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Skirts & Dresses</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Bras</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Jaskets & Vests</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Tops & T-Shirts</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Short</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Socks</li>
                </ul>
                <ul class="hidden" id="women-list">
                    <li class="font-semibold mb-2 text-base ">Shop by Sport</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Basketball</li>  
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Golf</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Soccer</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Running</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Tennis</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Fitness</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Yoga</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Track & Field</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Softball</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Swimming</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Pickleball</li>
                </ul>
            </div>
            
        </div> 
    </div> 
 
    <div id="kids-dropdown" class="bg-white fixed left-0 text-black duration-300  
    h-[0px] w-full opacity-100 "> 
        <div class="flex justify-center max-w-full z-50 mx-auto duration-300 "> 
            <div class="flex gap-20">
                <ul class="hidden" id="kids-list">
                    <li class="font-semibold mb-2 text-base ">Jordan Family Days</li> 
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Shop the collection</li> 
                </ul> 
                <ul class="hidden" id="kids-list">
                    <li class="font-semibold mb-2 text-base ">New & Featured</li> 
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Teen Essentials</li> 
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Skate X Lifestyle</li> 
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">New in Basketball</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Add to Bag to See Price</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Sales: Up to 50% off</li>
                </ul>
                <ul class="hidden" id="kids-list">
                    <li class="font-semibold mb-2 text-base ">Shoes by Size</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Bigs Kids(1 - 7Y)</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Little Kids(8C - 3Y)</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Baby & Toddler(1C - 10C)</li>
                    <li class="font-semibold text-base mb-2 mt-4 ">All Shoes</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Lifestyle</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Jordan</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Dunk</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Air Max</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Air Force 1</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Basketball</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Running</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Sandals & Slides</li>
                </ul>
                <ul class="hidden" id="kids-list">
                    <li class="font-semibold mb-2 text-base ">Clothing by Size</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Big Kids(XS -XL)</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Little Kids(4 - 7)</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Baby & Toddler(0M - 4T)</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Extended Sizing</li>
                    <li class="font-semibold text-base mb-2 mt-4">All Clothing</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Jordan</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Matching Sets</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Tops & T-Shirts</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Short</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Hoodies & Sweatshirts</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Jackets & Vests</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Pants & Tights</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Skirts & Dresses</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Socks</li>
                </ul>
                <ul class="hidden" id="kids-list">
                    <li class="font-semibold mb-2 text-base ">Shop by Sport</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Basketball</li>  
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Golf</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Soccer</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Running</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Baseball</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Softball</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Tennis</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Dance</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Swimming</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Skateboarding</li>
                </ul>

            </div>
        </div> 
    </div> 

    <div id="accessories-dropdown" class="bg-white fixed left-0 text-black duration-300  
    h-[0px] w-full opacity-100 "> 
        <div class="flex justify-center max-w-full z-50 mx-auto duration-300 "> 
            <div class="flex gap-20">
                <ul class="hidden" id="accessories-list"> 
                    <li class="font-semibold mb-2 text-base ">Featured</li> 
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">New Summer Styles</li> 
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Sale: Up to 50% Off</li> 
                </ul> 
                <ul class="hidden" id="accessories-list">
                    <li class="font-semibold mb-2 text-base ">All Accessories</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Socks</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Bags & Backpacks</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Hats & Headwear</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Sunglasses & Eyewear</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Water Bottles & Hydration</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Gloves</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Jordan</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Belts</li>
                </ul>
                <ul class="hidden" id="accessories-list">
                    <li class="font-semibold mb-2 text-base ">Shop by Sport</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Basketball</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Golf</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Soccer</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Running</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Tennis</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Baseball</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Football</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Training & Gym</li>
                </ul>
            </div>
        </div> 
    </div>

    <div id="sale-dropdown" class="bg-white fixed left-0 text-black duration-300  
    h-[0px] w-full opacity-100 "> 
        <div class="flex justify-center max-w-full z-50 mx-auto duration-300 "> 
            <div class="flex gap-20">
                <ul class="hidden" id="sale-list"> 
                    <li class="font-semibold mb-2 text-base ">Sale: Up to 50% Off</li> 
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Sales Shoes</li> 
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Sales Clothing</li> 
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">SAles Accessories</li> 
                </ul> 
                <ul class="hidden" id="sale-list">
                    <li class="font-semibold mb-2 text-base ">Men</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Shoes</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Accessories</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Shop All</li>
                </ul>
                <ul class="hidden" id="sale-list">
                    <li class="font-semibold mb-2 text-base ">Women</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Shoes</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Clothing</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Accessories</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Shop All</li>
                </ul>
                <ul class="hidden" id="sale-list">
                    <li class="font-semibold mb-2 text-base ">Kids</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Shoes</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Clothing</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Accessories</li>
                    <li class="mb-2 text-[#7d7d7d] text-[15px]">Shop All</li>
                </ul>
            </div>
        </div> 
    </div>
</nav>

<div id="hamburger-content" class="hidden w-[320px] h-screen bg-white border border-black fixed right-0 z-[300] top-0 p-8">
    <div class="flex justify-end pr-2 mb-5" id="cross-btn">
        <img class="w-4 " src="../../images/home/nav-bar/close.png" alt="">
    </div>

    <div class="pl-3">    
        <div class="flex justify-between mb-5">
            <h1 class="roboto text-[22px] ">New & Featured</h1>
            <img class="w-8" src="../../images/home/nav-bar/chevron (1).png" alt="">
        </div> 
        <div class="flex justify-between mb-5">
            <h1 class="roboto text-[22px]">Men</h1>
            <img class="w-8" src="../../images/home/nav-bar/chevron (1).png" alt="">
        </div>
        <div class="flex justify-between mb-5">
            <h1 class="roboto text-[22px]">Women</h1>
            <img class="w-8" src="../../images/home/nav-bar/chevron (1).png" alt="">
        </div>
        <div class="flex justify-between mb-5">
            <h1 class="roboto text-[22px]">Kids</h1>
            <img class="w-8" src="../../images/home/nav-bar/chevron (1).png" alt="">
        </div>
        <div class="flex justify-between mb-5">
            <h1 class="roboto text-[22px]">Accessories</h1>
            <img class="w-8" src="../../images/home/nav-bar/chevron (1).png" alt="">
        </div>
        <div class="flex justify-between mb-5">
            <h1 class="roboto text-[22px]">Sale</h1>
            <img class="w-8" src="../../images/home/nav-bar/chevron (1).png" alt="">
        </div>
    </div>

    <div class="p-3 ">
        <div class="flex mb-5 justify-between w-[90px]">
            <img class="w-8" src="../../images/home/header/jordan.png" alt="">
            <h1 class="roboto-medium">Jordan</h1>
        </div>
        <div class="flex justify-between w-[110px]">
            <img class="w-8" src="../../images/home/header/converse.png" alt="">
            <h1 class="roboto-medium">Converse</h1>
        </div>
    </div>

    <div class="mt-20">
        <p class="roboto text-[#7d7d7d] text-xl">Become a Nike Member for the best products, inspiration and stories in sport. <span class="text-black roboto font-semibold">Learn more</span></p>
        <div class="mt-7">
            <button class="rounded-full mr-3 bg-black text-white border px-4 py-[7px] border-black roboto">Join Us</button>
            <button class="rounded-full text-black border px-4 py-[7px] border-slate-400 roboto">Sign In</button>
        </div>
    </div>

    <div class="mt-16 p-3">
        <div class="flex w-[75px] justify-between mb-5">
            <img class="w-6" src="../../images/home/nav-bar/market.png" alt="">
            <h1 >Bag</h1>
        </div>
        <div class="flex w-[95px] justify-between mb-5">
            <img class="w-6"  src="../../images/home/nav-bar/delivery-box.png" alt="">
            <h1>Orders</h1>
        </div>
        <div class="flex w-[130px] justify-between mb-5">
            <img class="w-6"  src="../../images/home/nav-bar/shop.png" alt="">
            <h1>Find a Store</h1>
        </div>
        <div class="flex w-[75px] justify-between mb-5">
            <img class="w-6"  src="../../images/home/nav-bar/question-mark-outline-in-a-circle-hand-drawn-button.png" alt="">
            <h1>Help</h1>
        </div>
    </div>

</div>