<!-- header --> 
<div class="bg-gray-200"> 
    <div class="max-w-[1850px] mx-auto p-3"> 
        <div class="flex justify-between"> 
            <div class="flex items-center"> 
                 
                <a href="#"> 
                    <img src="../../images/home/header/jordan.png" alt="Jordan's Logo" class="w-[30px] hover:opacity-50"> 
                </a> 
 
                <a href="#"> 
                    <img src="../../images/home/header/converse.png" alt="Converse's Logo" class="w-[30px]  hover:opacity-50"> 
                </a> 
                 
            </div> 
 
            <div class="divide-x divide-black font-semibold font-sans text-sm"> 
               <a href="#" class="px-2">Find a Store</a> 
               <a href="#" class="px-2">Help</a> 
               <a href="#" class="px-2">Join Us</a> 
               <a href="#" class="px-2">Sign In</a> 
            </div> 
        </div> 
    </div> 
</div> 
 
 
        <!-- NAVBAR --> 
<nav class="overflow-hidden"> 
    <div class="max-w-[1850px] mx-auto text-black flex items-center justify-between"> 
        <a href="home.html"> 
            <img src="../../images/home/nav-bar/nike2.png" alt="" class="w-[70px]"> 
        </a> 
 
        <ul class="md:flex items-center gap-4 hidden ml-[200px]"> 
            <li class="cursor-pointer py-6 hover:text-violet-500" id="newfeatured-hover">New & Featured</li> 
            <li class="cursor-pointer hover:text-violet-500" id="men-hover" >Men</li> 
            <li class="cursor-pointer hover:text-violet-500">Women</li> 
            <li class="cursor-pointer hover:text-violet-500">Kids</li> 
            <li class="cursor-pointer hover:text-violet-500">Accessories</li> 
            <li class="cursor-pointer hover:text-violet-500">Sale</li> 
        </ul> 
 
        <div class="relative flex items-center gap-5"> 
            <input type="text" class="border border-[#f5f5f5] rounded-full p-1.5 pl-10 bg-[#f5f5f5]" placeholder="Search">  
            <img src="../../images/home/nav-bar/loupe.png" alt="" class="absolute w-[20px] left-[10px] opacity-90"> 
            <div class="flex gap-5"> 
                <img src="../../images/home/nav-bar/heart.png" alt="" class="w-[20px]"> 
                <img src="../../images/home/nav-bar/market.png" alt="" class="w-[20px]"> 
            </div> 
        </div> 
    </div> 
 
    <!-- DROP DOWN --> 
    <div id="newfeatured-dropdown" class="bg-white/80 fixed left-0 text-violet-400 duration-300  
        h-[0px] w-full opacity-100 "> 
        <div class="flex justify-between max-w-[500px] mx-auto duration-300 "> 
            <ul class="hidden" id="nav-list"> 
                <li></li> 
                <li>Item 2</li> 
                <li>Item 3</li> 
                <li>Item 4</li> 
            </ul> 
        </div> 
    </div> 
 <!-- men dropdown -->
    <div id="men-dropdown" class="bg-black/80 fixed text-violet-400 duration-1000  
        h-[0px] w-full opacity-100 pointer-events-none"> 
        <div class="flex justify-between max-w-[500px] mx-auto duration-1000"> 
            <ul class="opacity-0"></ul> 
                <li>men1</li> 
                <li>men2</li> 
                <li>men3</li> 
                <li>men4</li> 
            </ul> 
        </div> 
    </div> 
 
    <div id="women-dropdown" class="bg-black/80 fixed text-violet-400 duration-300  
        h-[0px] w-full opacity-0 pointer-events-none"> 
        <div class="flex justify-between max-w-[500px] mx-auto duration-300 "> 
            <ul> 
                <li>women Item 1</li> 
                <li>women Item 2</li> 
                <li>women Item 3</li> 
                <li>women Item 4</li> 
            </ul> 
        </div> 
    </div> 
 
    <div id="menu-dropdown" class="bg-black/80 fixed text-violet-400 duration-300  
        h-[0px] w-full opacity-0 pointer-events-none"> 
        <div class="flex justify-between max-w-[500px] mx-auto duration-300 "> 
            <ul> 
                <li>Menu Item 1</li> 
                <li>Menu Item 2</li> 
                <li>Menu Item 3</li> 
                <li>Menu Item 4</li> 
            </ul> 
        </div> 
    </div> 
</nav>

