<!-- categories --> 

<div class="max-w-[900px] mx-auto p-3 mt-20 min-[600px]:block hidden"> 
    <div class="flex flex-wrap gap-20 text-gray-500"> 
        
        <ul> 
            <li class="text-black/95 mb-5">Men's Shoes</li> 
            <li class="mb-3 text-black/55 cursor-pointer hover:text-black/80">Running</li> 
            <li class="mb-3 text-black/55 cursor-pointer hover:text-black/80">Basketball</li> 
            <li class="mb-3 text-black/55 cursor-pointer hover:text-black/80">Golf</li> 
            <li class="mb-3 text-black/55 cursor-pointer hover:text-black/80">Tennis Shoes</li> 
        </ul> 
        <ul> 
            <li class="text-black/95 mb-5">Men's Clothing</li> 
            <li class="mb-3 text-black/55 cursor-pointer hover:text-black/80">Tops & T-Shirts</li> 
            <li class="mb-3 text-black/55 cursor-pointer hover:text-black/80">Jackets</li> 
            <li class="mb-3 text-black/55 cursor-pointer hover:text-black/80">Hoodies</li> 
            <li class="mb-3 text-black/55 cursor-pointer hover:text-black/80">Pants</li> 
        </ul> 
        <ul> 
            <li class="text-black/95 mb-5">Men's Gear</li> 
            <li class="mb-3 text-black/55 cursor-pointer hover:text-black/80">All Men's Gear</li> 
            <li class="mb-3 text-black/55 cursor-pointer hover:text-black/80">Socks</li> 
            <li class="mb-3 text-black/55 cursor-pointer hover:text-black/80">Bags & Backpacks</li> 
            <li class="mb-3 text-black/55 cursor-pointer hover:text-black/80">Bails</li> 
        </ul> 
            
        <ul> 
            <li class="text-black/95 mb-5">Featured</li> 
            <li class="mb-3 text-black/55 cursor-pointer hover:text-black/80">New Releases</li> 
            <li class="mb-3 text-black/55 cursor-pointer hover:text-black/80">Clearance</li> 
            <li class="mb-3 text-black/55 cursor-pointer hover:text-black/80">Metcon</li> 
            <li class="mb-3 text-black/55 cursor-pointer hover:text-black/80">NFL</li> 
        </ul> 
    </div> 
</div> 

<div class="max-w-[900px] mx-auto p-3 mt-10 cursor-pointer min-[600px]:hidden block">
    <ul class="text-black/90 text-lg">
        <li class="my-6">Men's Shoes</li>
        <li class="my-6">Men's Clothing</li>
        <li class="my-6">Men's Gear</li>
        <li class="my-6">Featured</li>
    </ul>
</div>

