<!-- categories --> 
<div> 
    <div class="max-w-[900px] mx-auto p-3 mt-20 "> 
        <div class="flex flex-wrap gap-20 text-gray-500"> 
            
            <ul> 
                <h1 class="font-semibold text-black mb-5">Men's Shoes</h1> 
                <li class="mb-3">Running</li> 
                <li class="mb-3">Basketball</li> 
                <li class="mb-3">Golf</li> 
                <li class="mb-3">Tennis Shoes</li> 
            </ul> 
            <ul> 
                <h1 class="font-semibold text-black mb-5">Men's Clothing</h1> 
                <li class="mb-3">Tops & T-Shirts</li> 
                <li class="mb-3">Jackets</li> 
                <li class="mb-3">Hoodies</li> 
                <li class="mb-3">Pants</li> 
            </ul> 
            <ul> 
                <h1 class="font-semibold text-black mb-5">Men's Gear</h1> 
                <li class="mb-3">All Men's Gear</li> 
                <li class="mb-3">Socks</li> 
                <li class="mb-3">Bags & Backpacks</li> 
                <li class="mb-3">Bails</li> 
            </ul> 
             
            <ul> 
                <h1 class="font-semibold text-black mb-5">Featured</h1> 
                <li class="mb-3">New Releases</li> 
                <li class="mb-3">Clearance</li> 
                <li class="mb-3">Metcon</li> 
                <li class="mb-3">NFL</li> 
            </ul> 
        </div> 
    </div> 
</div>