<div> 
    <div class="max-w-[1850px] mx-auto p-3 ">
        <h1 class="translate-y-16 text-2xl">Marathon Speed Ahead</h1>
    </div>

    <div class="max-w-[2557px] max-h-[951px] mx-auto mt-16 p-3"> 
        <img src="../../images/men/marathon/men-s-shoes-clothing-accessories(3).jpg" alt="" class="w-full h-full min-[600px]:block hidden object-cover"> 
        <img src="../../images/men/marathon/men-s-shoes-clothing-accessories (5).jpg" alt="" class="w-full min-[600px]:hidden block">
    </div> 
</div>

<div class="max-w-[1850px] mx-auto p-3 "> 
    <div class="max-w[600px] min-[600px]:text-center text-start"> 
        <h1 class="mb-3">Nike Alphafly 3</h1> 
        <h2 class="min-[600px]:text-7xl text-5xl passion-bold tracking-tight mb-5"> 
            LEAVE YOURSELF <br> IN THE DUST 
        </h2> 
        <h3 class="mb-7">Stay fresh from start to mile 26.2 in the electric new colorway.</h3> 
        <button class="border-8 border-black bg-black rounded-full px-3 py-1 text-white px">Shop</button> 
    </div> 
</div> 
