<!-- Popular Right Now Seaction --> 
<div> 
    <div class="max-w-[1850px] mx-auto p-3 mt-10"> 
        <div class="flex items-center justify-between"> 
            <h2 class="text-2xl">Popular Right Now</h2> 
            <div class="flex gap-5"> 
                <p class="mt-2 font-semibold">Shop All</p>
                <button class="bg-[#e5e5e5] w-10 h-10 rounded-full flex justify-center items-center" > 
                    <img src="../../images/home/trending/left-chevron.png" alt="" class="w-[20px]"> 
                </button> 
                <button class="bg-[#e5e5e5] w-10 h-10 rounded-full flex justify-center items-center"> 
                    <img src="../../images/home/trending/left-chevron.png"alt="" class="w-[20px]"> 
                </button> 
            </div> 
        </div> 
    </div> 
</div> 

<!-- Popular photos --> 
<div> 
    <div class="max-w-[1850px] mx-auto px-3 gap-3 flex overflow-x-scroll">           
        <div class="w-full"> 
            <div  class="w-[600px]"> 
                <img src="../../images/men/popular/air-max-dn-shoes-27XkSQ.png" alt="" class="w-full"> 
                <h2 class="mt-3 text-xl">Nike Air Max Dn</h2> 
                <h2 class="text-gray-400 mt-1">Shoes</h2> 
                <h2 class="mt-2 mb-14">$160</h2> 
            </div> 
        </div> 
        <div class="w-full"> 
            <div  class="w-[600px]"> 
                <img src="../../images/men/popular/book-1-hike-basketball-shoes-hQGJ09.png" alt="" class="w-full "> 
                <h2 class="mt-3 text-xl">Book 1 "Hike"</h2> 
                <h2 class="text-gray-400 mt-1">Basketball Shoes</h2> 
                <h2 class="mt-2 mb-14">$150</h2> 
            </div> 
        </div> 
        <div class="w-full"> 
            <div  class="w-[600px]"> 
                <img src="../../images/men/popular/dunk-low-retro-mens-shoes-5FQWGR.png" alt="" class="w-full"> 
                <h2 class="mt-3 text-xl">Nike Dunk Low Retro</h2> 
                <h2 class="text-gray-400 mt-1">Men's Shoes</h2> 
                <h2 class="mt-2 mb-14">$115</h2> 
            </div> 
        </div> 
        <div class="w-full"> 
            <div  class="w-[600px] "> 
                <img src="../../images/men/popular/gt-cut-3-basketball-shoes-GLHCGc.png" alt="" class="w-full"> 
                <h2 class="mt-3 text-xl">Nike G.T. Cut 3</h2> 
                <h2 class="text-gray-400 mt-1">Basketball Shoes</h2> 
                <h2 class="mt-2 mb-14">$190</h2> 
            </div> 
        </div> 
        <div class="w-full"> 
            <div  class="w-[600px] "> 
                <img src="../../images/men/popular/zoom-vomero-5-mens-shoes-MgsTqZ.png" alt="" class="w-full"> 
                <h2 class="mt-3 text-xl">Nike Zoom Vomero 5</h2> 
                <h2 class="text-gray-400 mt-1">Men's Shoes</h2> 
                <h2 class="mt-2 mb-14">$160</h2> 
            </div> 
        </div>   
        <div class="w-full"> 
            <div  class="w-[600px]"> 
                <img src="../../images/men/popular/air-max-1-sc-mens-shoes-bNNbQl.png" alt="" class="w-full"> 
                <h2 class="mt-3 text-xl">Nike Air Max 1 SC</h2> 
                <h2 class="text-gray-400 mt-1">Men's Shoes</h2> 
                <h2 class="mt-2 ">$112.97</h2> 
                <h3 class="text-gray-400 mt-1 line-through">$150</h3>
            </div> 
        </div> 
        <div class="w-full"> 
            <div  class="w-[600px] "> 
                <img src="../../images/men/popular/air-force-1-07-mens-shoes-jBrhbr.png"  alt="" class="w-full"> 
                <h2 class="mt-3 text-xl">Nike Air Force 1 '07</h2> 
                <h2 class="text-gray-400 mt-1">Men's Shoes</h2> 
                <h2 class="mt-2 mb-14">$115</h2> 
            </div> 
        </div>  
    </div> 
</div>
