
<div class="w-full bg-white z-10 p-2 mt-5 sticky top-0">
    <div class="max-w-[1850px] mx-auto p-3 mt-10 overflow-hidden">
        <h2 class="text-2xl">Men</h2>
        <ul class="w-full flex gap-8 sm:justify-center justify-start items-center py-2 lg:mx-auto max-w-[700px] font-semibold">
            <li>Shoes</li>
            <li>Clothing</li>
            <li>Accessories</li>
            <li>Sale</li>
        </ul>
    </div>
</div>


<div class="max-w-[1850px] mx-auto p-3 mt-10">
    <div class="flex gap-3">
        <div class="w-full relative h-[680px]">
            <img src="../../images/men/poster/men-s-shoes-clothing-accessories.png" alt="" class="w-full h-full object-cover ">
            <div class="absolute bottom-8 min-[600px]:max-w-[700px] max-w-[600px] my-4 left-8 text-white">
                <p class="md:text-7xl text-6xl passion-bold tracking-tight">FEEL THE UNREAL</p>
                <h2 class="min-[600px]:text-xl text-base mb-5">Elevate your style with the new Air Max DN.</h2>
                <button class="bg-white px-4 py-1.5 rounded-full text-black mt-4">Shop All Air</button>
            </div>     
        </div>
    </div>
</div>  
