<div class="max-w-[1850px] px-6 py-4 mx-auto flex items-center mb-12 bg-white ">
    <h2 class="text-2xl ">Men</h2>
    <ul class="flex gap-8 justify-end lg:justify-center w-full  items-center mx-auto">
        <li>Shoes</li>
        <li>Clothing</li>
        <li>Accessories</li>
        <li>Sale</li>
    </ul>
</div>
<div>
    <div class="max-w-[1850px] mx-auto p-3 mt-10">
        
        <div class="flex gap-3">
            <div class="w-full h-[680px] relative ">
                <img src="../../images/men/poster/men-s-shoes-clothing-accessories.png" alt="" class="w-full h-full object-cover ">
                <div class="absolute bottom-8 left-8 text-white">
                    <p >FEEL THE UNREAL</p>
                    <h2 class="text-2xl mb-5">Elevate your style with the new Air Max DN.</h2>
                    <button class="bg-white px-4 py-1.5 rounded-full text-black mt-4">Shop All Air</button>
                </div>     
            </div>
        </div>
    </div>  
</div>