<div> 
    <div class="max-w-[1850px] mx-auto p-3 m-24"> 
        <div class="max-w[600px] text-center"> 
            <h1>Nike Alphafly 3</h1> 
            <h2 class="font-serif text-7xl font-extrabold mb-5"> 
                LEAVE YOURSELF <br> IN THE DUST 
            </h2> 
            <h3 class="mb-7">Stay fresh from start to mile 26.2 in the electric new colorway.</h3> 
            <button class="border-8 border-black bg-black rounded-full text-white py-1 px-3">Shop</button> 
 
        </div> 
    </div> 
</div>