<div>
    <div class="max-w-[900px] mx-auto p-3 mt-20 ">
        <div class="flex flex-wrap gap-20 text-gray-500">
           
            <ul>
                <h1 class="font-semibold text-black mb-5">Featured</h1>
                <li class="mb-3">Air Force 1</li>
                <li class="mb-3">Jordan 1</li>
                <li class="mb-3">Metcon</li>
                <li class="mb-3">Air Max 270</li>
            </ul>
            <ul>
                <h1 class="font-semibold text-black mb-5">Shoes</h1>
                <li class="mb-3">All Shoes</li>
                <li class="mb-3">Jordan Shoes</li>
                <li class="mb-3">Running Shoes</li>
                <li class="mb-3">basketball Shoes</li>
            </ul>
            <ul>
                <h1 class="font-semibold text-black mb-5">Clothing</h1>
                <li class="mb-3">All Clothing</li>
                <li class="mb-3">Tops & T-Shirts</li>
                <li class="mb-3">Shorts</li>
                <li class="mb-3">Hoodies & Pullovers</li>
            </ul>
            
            <ul>
                <h1 class="font-semibold text-black mb-5">Kids</h1>
                <li class="mb-3">Infants & Toddler Shoes</li>
                <li class="mb-3">Kids Shoes</li>
                <li class="mb-3">Kids Basketball Shoes</li>
                <li class="mb-3">Kids Running Shoes</li>
            </ul>
        </div>
    </div>
</div>