
    <div class="max-w-[900px] mx-auto p-3 mt-20 min-[600px]:block hidden">
        <div class="flex flex-wrap gap-20 text-gray-500">
           
            <ul>
                <li class="text-black/95 mb-5">Featured</li>
                <li class="mb-3 cursor-pointer text-black/55 hover:text-black/80">Air Force 1</li>
                <li class="mb-3 cursor-pointer text-black/55 hover:text-black/80">Jordan 1</li>
                <li class="mb-3 cursor-pointer text-black/55 hover:text-black/80">Metcon</li>
                <li class="mb-3 cursor-pointer text-black/55 hover:text-black/80">Air Max 270</li>
            </ul>
            <ul>
                <li class="text-black/95 mb-5">Shoes</li>
                <li class="mb-3 cursor-pointer text-black/55 hover:text-black/80">All Shoes</li>
                <li class="mb-3 cursor-pointer text-black/55 hover:text-black/80">Jordan Shoes</li>
                <li class="mb-3 cursor-pointer text-black/55 hover:text-black/80">Running Shoes</li>
                <li class="mb-3 cursor-pointer text-black/55 hover:text-black/80">basketball Shoes</li>
            </ul>
            <ul>
                <li class="text-black/95 mb-5">Clothing</li>
                <li class="mb-3 cursor-pointer text-black/55 hover:text-black/80">All Clothing</li>
                <li class="mb-3 cursor-pointer text-black/55 hover:text-black/80">Tops & T-Shirts</li>
                <li class="mb-3 cursor-pointer text-black/55 hover:text-black/80">Shorts</li>
                <li class="mb-3 cursor-pointer text-black/55 hover:text-black/80">Hoodies & Pullovers</li>
            </ul>
            
            <ul>
                <li class="text-black/95 mb-5">Kids</li>
                <li class="mb-3 cursor-pointer text-black/55 hover:text-black/80">Infants & Toddler Shoes</li>
                <li class="mb-3 cursor-pointer text-black/55 hover:text-black/80">Kids Shoes</li>
                <li class="mb-3 cursor-pointer text-black/55 hover:text-black/80">Kids Basketball Shoes</li>
                <li class="mb-3 cursor-pointer text-black/55 hover:text-black/80">Kids Running Shoes</li>
            </ul>
        </div>
    </div>

<!-- small screen -->
    <div class="max-w-[900px] mx-auto p-3 mt-10 cursor-pointer min-[600px]:hidden block">
        <ul class="text-black/90 text-lg">
            <li class="my-6">Featured</li>
            <li class="my-6">Shoes</li>
            <li class="my-6">Clothing</li>
            <li class="my-6">Kids</li>
        </ul>
    </div>
