<!-- featured --> 
 
<div> 
    <div class="max-w-[1850px] mx-auto p-3 mt-10"> 
        <h2 class="text-2xl mb-5">Featured</h2> 
        <div class="flex gap-3 md:flex-row cursor-pointer flex-col"> 
            <!-- CARD 1 --> 
            <div class="w-full h-[680px] relative "> 
                <img class="w-full h-full object-cover block md:hidden" src="../../images/home/featured/exercise.jpeg" alt=""> 
                <img class="w-full h-full object-cover md:block hidden"  src="../../images/home/featured/running.jpeg" alt="">
                <div class="absolute bottom-8 left-8 p-2 text-white"> 
                    <p >Nike Alphafly 3</p> 
                    <h2 class="text-2xl mb-5">Push Beyond What's Possible</h2> 
                    <button class="bg-white px-4 py-1.5 rounded-full font-semibold text-black mt-4 hover:bg-gray-200">Shop</button> 
                </div> 
            </div> 
 
             <!-- CARD 2 --> 
             <div class="w-full h-[680px] relative"> 
                <img class="w-full h-full object-cover block md:hidden" src="../../images/home/featured/shoes-long-height.jpeg" alt="Jordan New Arrivals"> 
                <img class="w-full h-full object-cover md:block hidden" src="../../images/home/featured/yellow-shoes1.jpeg" alt="">
                <div class="absolute bottom-8 left-8 text-white"> 
                    <p>Jordan New Arrivals</p> 
                    <h2 class="text-2xl mb-4">Air Jordan 4 <br> 'Vivid Sulfur'</h2> 
                    <button class="rounded-full text-black bg-white px-4 py-1.5 font-semibold mt-4 hover:bg-gray-200">Shop</button> 
                </div> 
            </div> 
        </div> 
    </div>   
</div>

