<!-- big image -->
<div>
    <img src="../../images/home/poster/nike-just-do-it.jpg" alt="" class=" w-full">
</div>

<!-- big content -->
<div>
    <div class="max-w-[600px] mt-10 mx-auto text-center">
        <h1 class="roboto lg:text-lg text-base">Brooks's Looks</h1>
        <h2 class="lg:text-7xl text-3xl font-extrabold roboto">GEAR-UP FOR <br> THE MAJORS</h2>
        <h2 class="lg:my-4 m-10 roboto">How the golf sensation is gearing up for this season's Majors and beyond.</h2>
        <button class="bg-black text-white roboto py-1 px-3 rounded-full">Shop the Collection</button>
    </div>
</div>
