<!-- big image -->
<div class="min-[600px]:block hidden">
    <img src="../../images/home/poster/nike-just-do-it.jpg" alt="" class=" w-full">
</div>

<!-- big content -->

<div class="min-[600px]:block hidden">
    <div class="md:max-w-[600px] max-w-[370px] mt-10 cursor-pointer mx-auto text-center">
        <h1 class="lg:text-lg text-base">Brooks's Looks</h1>
        <h2 class="text-7xl passion-bold tracking-tight ">GEAR-UP FOR <br> THE MAJORS</h2>
        <h2 class="lg:my-4 m-5">How the golf sensation is gearing up for this season's Majors and beyond.</h2>
        <button class="bg-black text-white py-1 px-3 rounded-full hover:opacity-70">Shop the Collection</button>
    </div>
</div>


<!-- small -->
<div class="min-[600px]:hidden block p-3">
    <img src="../../images/home/poster/nike-just-do-it (2)-small.jpeg" alt="">
    <div class=" max-w-[700px] mt-10 cursor-pointer">
        <h1 class="text-base my-2">Brooks's Looks</h1>
        <h2 class="text-6xl passion-bold tracking-tight">GEAR-UP FOR <br> THE MAJORS</h2>
        <h2 class="my-4">How the golf sensation is gearing up for this season's Majors and beyond.</h2>
        <button class="mt-1 bg-black text-white py-1 px-3 rounded-full hover:opacity-70">Shop the Collection</button>
    </div>
</div>