<!-- Shop by Sport Seaction -->
<div>
    <div class="max-w-[1850px] mx-auto p-3 mt-10">
        <div class="flex items-center justify-between">
            <h2 class="text-2xl mb-4">Shop by Sport</h2>
            <div class="md:flex hidden gap-5 mb-5">
                <button id="left-shop"  class="bg-[#e5e5e5] w-10 h-10 rounded-full flex justify-center items-center" >
                    <img src="../../images/home/trending/left-chevron.png" alt="" class="w-[20px]">
                </button>
                <button id="right-shop"  class="bg-[#e5e5e5] w-10 h-10 rounded-full flex justify-center items-center">
                    <img src="../../images/home/trending/chevron.png" alt="" class="w-[20px]">
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Sport photos -->
<div>
    <div id="shop" class="max-w-[1850px] mx-auto px-3 gap-3 flex overflow-x-scroll">          
        <div class="w-full">
            <div  class="min-[600px]:w-[610px] w-[310px]">
                <img src="../../images/home/shop-by-sport/sport 1.jpeg" alt="" class="w-full">
                <h1 class="min-[600px]:hidden block mt-1 text-black/70 tracking-tight">Basketball</h1>
                <h1 class="min-[600px]:hidden block mt-1 mb-8 text-lg">Styles made for your game.</h1>
                <h2 class="min-[600px]:block hidden mt-3 mb-8 text-xl">Basketball</h2>
               
            </div>
        </div>
        <div class="w-full">
            <div  class="min-[600px]:w-[610px] w-[310px] ">
                <img src="../../images/home/shop-by-sport/sport 2.jpeg" alt="" class="w-full">
                <h1 class="min-[600px]:hidden block mt-1 text-black/70 tracking-tight">Running</h1>
                <h1 class="min-[600px]:hidden block mt-1 mb-8 text-lg">Everything you'll need for every mile.</h1>
                <h2 class="min-[600px]:block hidden mt-3 mb-8 text-xl">Running</h2>
            </div>
        </div>
        <div class="w-full">
            <div  class="min-[600px]:w-[610px] w-[310px] ">
                <img src="../../images/home/shop-by-sport/sport 3.jpeg" alt="" class="w-full">
                <h1 class="min-[600px]:hidden block mt-1 text-black/70 tracking-tight">Training</h1>
                <h1 class="min-[600px]:hidden block mt-1 mb-8 text-lg">Styles for gym workouts, bootcamps, spin & more.</h1>
                <h2 class="min-[600px]:block hidden mt-3 mb-8 text-xl">Training</h2>
            </div>
        </div>
        <div class="w-full">
            <div  class="min-[600px]:w-[610px] w-[310px] ">
                <img src="../../images/home/shop-by-sport/sport 4.jpeg" alt="" class="w-full">
                <h1 class="min-[600px]:hidden block mt-1 text-black/70 tracking-tight">Soccer</h1>
                <h1 class="min-[600px]:hidden block mt-1 mb-8 text-lg">Bring mad style to the pitch with the latest gear.</h1>
                <h2 class="min-[600px]:block hidden mt-3 mb-8 text-xl">Soccer</h2>
            </div>
        </div>
        <div class="w-full">
            <div  class="min-[600px]:w-[610px] w-[310px] ">
                <img src="../../images/home/shop-by-sport/nike-just-do-it(14).jpg" alt="" class="w-full">
                <h1 class="min-[600px]:hidden block mt-1 text-black/70 tracking-tight">Basketball</h1>
                <h1 class="min-[600px]:hidden block mt-1 mb-8 text-lg">Conquer any course & every green in style.</h1>
                <h2 class="min-[600px]:block hidden mt-3 mb-8 text-xl">Golf</h2>
            </div>
        </div>  
        <div class="w-full">
            <div  class="min-[600px]:w-[610px] w-[310px]">
                <img src="../../images/home/shop-by-sport/sport 6.jpeg" alt="" class="w-full">
                <h1 class="min-[600px]:hidden block mt-1 text-black/70 tracking-tight">Tennis</h1>
                <h1 class="min-[600px]:hidden block mt-1 mb-8 text-lg">Serve up in style.</h1>
                <h2 class="min-[600px]:block hidden mt-3 mb-8 text-xl">Tennis</h2>
            </div>
        </div>
        <div class="w-full">
            <div  class="min-[600px]:w-[610px] w-[310px] ">
                <img src="../../images/home/shop-by-sport/sport 5.jpeg" alt="" class="w-full">
                <h1 class="min-[600px]:hidden block mt-1 text-black/70 tracking-tight">Football</h1>
                <h1 class="min-[600px]:hidden block mt-1 mb-8 text-lg">Command the field in game-ready gear.</h1>
                <h2 class="min-[600px]:block hidden mt-3 mb-8 text-xl">Football</h2>
            </div>
        </div>
        <div class="w-full">
            <div  class="min-[600px]:w-[610px] w-[310px] ">
                <img src="../../images/home/shop-by-sport/nike-just-do-it(17).jpg" alt="" class="w-full">
                <h1 class="min-[600px]:hidden block mt-1 text-black/70 tracking-tight">Baseball</h1>
                <h1 class="min-[600px]:hidden block mt-1 mb-8 text-lg">Step up to the plate style.</h1>
                <h2 class="min-[600px]:block hidden mt-3 mb-8 text-xl">Baseball</h2>
            </div>
        </div>
        <div class="w-full">
            <div  class="min-[600px]:w-[610px] w-[310px] ">
                <img src="../../images/home/shop-by-sport/nike-just-do-it (2)-yoga.jpeg" alt="" class="w-full">
                <h1 class="min-[600px]:hidden block mt-1 text-black/70 tracking-tight">Yoga</h1>
                <h1 class="min-[600px]:hidden block mt-1 mb-8 text-lg">Essentials for every pose, bend, and stretch.</h1>
                <h2 class="min-[600px]:block hidden mt-3 mb-8 text-xl">Yoga</h2>
            </div>
        </div>     
    </div>
</div>


<!-- small screen -->
<!-- <div class="md:hidden block">
    <div id="shop" class="max-w-[1850px] mx-auto px-3 gap-3 flex overflow-x-auto">          
        <div class="w-full">
            <div  class="min-[600px]:w-[610px] w-[310px]">
                <img src="../../images/home/shop-by-sport/sport 1.jpeg" alt="" class="w-full">
                <h1 class="min-[600px]:hidden block mt-1 text-black/70 tracking-tight">Basketball</h1>
                <h1 class="min-[600px]:hidden block mt-1 mb-8 text-lg">Styles made for your game.</h1>
                <h2 class="min-[600px]:block hidden mt-3 mb-8 text-xl">Basketball</h2>
               
            </div>
        </div>
        <div class="w-full">
            <div  class="min-[600px]:w-[610px] w-[310px] ">
                <img src="../../images/home/shop-by-sport/sport 2.jpeg" alt="" class="w-full">
                <h1 class="min-[600px]:hidden block mt-1 text-black/70 tracking-tight">Running</h1>
                <h1 class="min-[600px]:hidden block mt-1 mb-8 text-lg">Everything you'll need for every mile.</h1>
                <h2 class="min-[600px]:block hidden mt-3 mb-8 text-xl">Running</h2>
            </div>
        </div>
        <div class="w-full">
            <div  class="min-[600px]:w-[610px] w-[310px] ">
                <img src="../../images/home/shop-by-sport/sport 3.jpeg" alt="" class="w-full">
                <h1 class="min-[600px]:hidden block mt-1 text-black/70 tracking-tight">Training</h1>
                <h1 class="min-[600px]:hidden block mt-1 mb-8 text-lg">Styles for gym workouts, bootcamps, spin & more.</h1>
                <h2 class="min-[600px]:block hidden mt-3 mb-8 text-xl">Training</h2>
            </div>
        </div>
        <div class="w-full">
            <div  class="min-[600px]:w-[610px] w-[310px] ">
                <img src="../../images/home/shop-by-sport/sport 4.jpeg" alt="" class="w-full">
                <h1 class="min-[600px]:hidden block mt-1 text-black/70 tracking-tight">Soccer</h1>
                <h1 class="min-[600px]:hidden block mt-1 mb-8 text-lg">Bring mad style to the pitch with the latest gear.</h1>
                <h2 class="min-[600px]:block hidden mt-3 mb-8 text-xl">Soccer</h2>
            </div>
        </div>
        <div class="w-full">
            <div  class="min-[600px]:w-[610px] w-[310px] ">
                <img src="../../images/home/shop-by-sport/nike-just-do-it(14).jpg" alt="" class="w-full">
                <h1 class="min-[600px]:hidden block mt-1 text-black/70 tracking-tight">Basketball</h1>
                <h1 class="min-[600px]:hidden block mt-1 mb-8 text-lg">Conquer any course & every green in style.</h1>
                <h2 class="min-[600px]:block hidden mt-3 mb-8 text-xl">Golf</h2>
            </div>
        </div>  
        <div class="w-full">
            <div  class="min-[600px]:w-[610px] w-[310px]">
                <img src="../../images/home/shop-by-sport/sport 6.jpeg" alt="" class="w-full">
                <h1 class="min-[600px]:hidden block mt-1 text-black/70 tracking-tight">Tennis</h1>
                <h1 class="min-[600px]:hidden block mt-1 mb-8 text-lg">Serve up in style.</h1>
                <h2 class="min-[600px]:block hidden mt-3 mb-8 text-xl">Tennis</h2>
            </div>
        </div>
        <div class="w-full">
            <div  class="min-[600px]:w-[610px] w-[310px] ">
                <img src="../../images/home/shop-by-sport/sport 5.jpeg" alt="" class="w-full">
                <h1 class="min-[600px]:hidden block mt-1 text-black/70 tracking-tight">Football</h1>
                <h1 class="min-[600px]:hidden block mt-1 mb-8 text-lg">Command the field in game-ready gear.</h1>
                <h2 class="min-[600px]:block hidden mt-3 mb-8 text-xl">Football</h2>
            </div>
        </div>
        <div class="w-full">
            <div  class="min-[600px]:w-[610px] w-[310px] ">
                <img src="../../images/home/shop-by-sport/nike-just-do-it(17).jpg" alt="" class="w-full">
                <h1 class="min-[600px]:hidden block mt-1 text-black/70 tracking-tight">Baseball</h1>
                <h1 class="min-[600px]:hidden block mt-1 mb-8 text-lg">Step up to the plate style.</h1>
                <h2 class="min-[600px]:block hidden mt-3 mb-8 text-xl">Baseball</h2>
            </div>
        </div>
        <div class="w-full">
            <div  class="min-[600px]:w-[610px] w-[310px] ">
                <img src="../../images/home/shop-by-sport/nike-just-do-it (2)-yoga.jpeg" alt="" class="w-full">
                <h1 class="min-[600px]:hidden block mt-1 text-black/70 tracking-tight">Yoga</h1>
                <h1 class="min-[600px]:hidden block mt-1 mb-8 text-lg">Essentials for every pose, bend, and stretch.</h1>
                <h2 class="min-[600px]:block hidden mt-3 mb-8 text-xl">Yoga</h2>
            </div>
        </div>     
    </div>
</div>
 -->
