<!-- Shop by Sport Seaction -->
<div>
    <div class="max-w-[1850px] mx-auto p-3 mt-10">
        <div class="flex items-center justify-between">
            <h2 class="text-2xl">Shop by Sport</h2>
            <div class="flex gap-5">
                <button class="bg-[#e5e5e5] w-10 h-10 rounded-full flex justify-center items-center" >
                    <img src="../../images/home/trending/left-chevron.png" alt="" class="w-[20px]">
                </button>
                <button class="bg-[#e5e5e5] w-10 h-10 rounded-full flex justify-center items-center">
                    <img src="../../images/home/trending/chevron.png" alt="" class="w-[20px]">
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Sport photos -->
<div>
    <div class="max-w-[1850px] mx-auto px-3 gap-3 flex overflow-x-scroll">          
        <div class="w-full">
            <div  class="w-[610px]">
                <img src="../../images/home/shop-by-sport/sport 1.jpeg" alt="" class="w-full">
                <h2 class="mt-3 mb-8 text-xl">Rep Your Team In March And Beyond</h2>
            </div>
        </div>
        <div class="w-full">
            <div  class="w-[610px] ">
                <img src="../../images/home/shop-by-sport/sport 2.jpeg" alt="" class="w-full">
                <h2 class="mt-3 mb-8 text-xl">Air Max Dn</h2>
            </div>
        </div>
        <div class="w-full">
            <div  class="w-[610px] ">
                <img src="../../images/home/shop-by-sport/sport 3.jpeg" alt="" class="w-full">
                <h2 class="mt-3 mb-8 text-xl">Fast Forward.Rewind.</h2>
            </div>
        </div>
        <div class="w-full">
            <div  class="w-[610px] ">
                <img src="../../images/home/shop-by-sport/sport 4.jpeg" alt="" class="w-full">
                <h2 class="mt-3 mb-8 text-xl">Nike Motiva: For All Walks</h2>
            </div>
        </div>
        <div class="w-full">
            <div  class="w-[610px] ">
                <img src="../../images/home/shop-by-sport/nike-just-do-it(14).jpg" alt="" class="w-full">
                <h2 class="mt-3 mb-8 text-xl">Expression in Motion</h2>
            </div>
        </div>  
        <div class="w-full">
            <div  class="w-[610px]">
                <img src="../../images/home/shop-by-sport/sport 6.jpeg" alt="" class="w-full">
                <h2 class="mt-3 mb-8 text-xl">Rep Your Team In March And Beyond</h2>
            </div>
        </div>
        <div class="w-full">
            <div  class="w-[610px] ">
                <img src="../../images/home/shop-by-sport/sport 5.jpeg" alt="" class="w-full">
                <h2 class="mt-3 mb-8 text-xl">Air Max Dn</h2>
            </div>
        </div>
        <div class="w-full">
            <div  class="w-[610px] ">
                <img src="../../images/home/shop-by-sport/nike-just-do-it(17).jpg" alt="" class="w-full">
                <h2 class="mt-3 mb-8 text-xl">Fast Forward.Rewind.</h2>
            </div>
        </div>
        <div class="w-full">
            <div  class="w-[610px] ">
                <img src="../../images/home/shop-by-sport/sport 9.png" alt="" class="w-full">
                <h2 class="mt-3 mb-8 text-xl">Nike Motiva: For All Walks</h2>
            </div>
        </div>     
    </div>
</div>
